<div class="agency-list screen">
	{{{'/waw/components/topbar'|c|safe}}}
	<div class="container-a">
		<div class="agency__wrapper">
		{{{'/waw/components/sidebar'|c|safe}}}
		<div class="agency__main-wrap">
			<div class="agency__main">
				<div class="members__list">
					{% for team in teams %}
					<div class="members__wrap">
						<div class="members__item">
							<div class="members__img">
								<img src="{{{team.author.avatarUrl}}}" alt="">
							</div>
							<div class="members__text">
								<div class="members__title">
									{{{team.name}}}
								</div>
								<div class="members__subtitle">
									{{{team.description}}}
								</div>
							</div>
							<div class="members__text">
								<div class="members__title">
									Members
								</div>
								<div class="members__subtitle">
									<ul>
										{% for member in team.moderators %}
										<li>
											- {{{member.name}}}
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="members__btn">
								<a href="/team/{{{team.id}}}" class="btn-a">
									More info
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
