<div id="particles-js">	
<canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas>
</div>
<div class="agency-list screen">
	<header class="header-t">
		<div class="container-a">
			<div class="header-t__wrapper">
				<a href="" class="header-t__logo">
					<img src="waw/img/spider.svg" alt="">
				</a>
				<ul class="header-t__navigation">
					<li><a href="/agency">Agency</a></li>
					<li><a href="/store">Store</a></li>
					<li><a href="/school">School</a></li>
				</ul>
				<div class="burger-wrap-t">
		            <div class="burger-t"></div>
		        </div>
				<div class="header-t__icons">
					<a href="/create" class="header-t__icon">
						<img src="waw/img/agency/icons/new.svg" alt="">
					</a>
					<a href="/profile" class="header-t__icon">
						<img src="waw/img/agency/icons/user.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</header>
	<div class="container-a">
		<div class="agency__wrapper">
		<div class="agency__sidebar-wrap">
			<ul class="agency__sidebar">
				<li>
					<a href="/developers">
						<img src="waw/img/agency/icons/developers.svg" alt="">
						<span>Developers</span>
					</a>
				</li>
				<li>
					<a href="/designers">
						<img src="waw/img/agency/icons/designers.svg" alt="">
						<span>Designers</span>
					</a>
				</li>
				<li>
					<a href="/agents">
						<img src="waw/img/agency/icons/agents.svg" alt="">
						<span>Agents</span>
					</a>
				</li>
				<li>
					<a href="/teams">
						<img src="waw/img/agency/icons/teams.svg" alt="">
						<span>Teams</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="agency__main-wrap">
			<div class="agency__main">
				<div class="members__list">
					{% for user in users %}
					<div class="members__wrap">
						<div class="members__item">
							<div class="members__img">
								<img src="{{{user.avatarUrl}}}" alt="">
							</div>
							<div class="members__text">
								<div class="members__title">
									{{{user.name}}}
								</div>
								<div class="members__subtitle">
									{% if user.data.role %}- {% endif %}
									{{{user.data.role}}}
								</div>
							</div>
							{% for team in user.teams %}
							<div class="members__text">
								<div class="members__title">
									Team
								</div>
								<div class="members__subtitle">
									- {{{team.name}}}
								</div>
							</div>
							{% endfor %}
							{% if user|level %}
							<div class="members__text">
								<div class="members__title">
									Exp.Level
								</div>
								<div class="members__subtitle">
									- {{{ user|level }}}
								</div>
							</div>
							{% endif %}
							<div class="members__btn">
								<a href="/m/{{{user.id}}}" class="btn-a">
									More info
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	</div>
</div>