<div class="wrapper">
	<div class="bg-primary">
		{{{'/waw/components/topbar'|c|safe}}}
		<div class="members-section section u-vertical-padding-section">
			<div class="container">
				<div class="members u-flex">
					{{{'/waw/components/sidebar'|c|safe}}}
					<div class="cards-grid cards-grid--row-gap cards-grid--max-width u-left-margin">
						{% for user in users %}
						<a href="{{{ user.url && user.url || '/m/' + user.id }}}" class="card-person">
							<img src="{{{user.thumb}}}" alt="member avatar" class="card-person__img">
							<div class="card-person__info">
								<div class="card-person__name">
									{{{user.name}}}
								</div>

								{% if user.data.role %}
									<pre class="card-person__about">
										{{{user.data.role}}}
									</pre>
								{% endif %}
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{{'/waw/components/footer'|c|safe}}}
</div>
