<div class="sidebar">
	<ul class="sidebar__nav-list">
		<li>
			<a href="/agency">
				<img src="/waw/img/agency/icons/teams.svg" alt="">
				<span>Agency</span>
			</a>
		</li>
		<!-- <li>
			<a href="/teams">
				<img src="/waw/img/agency/icons/teams.svg" alt="">
				<span>Teams</span>
			</a>
		</li> -->
		<li>
			<a href="/managers">
				<img src="/waw/img/agency/icons/developers.svg" alt="">
				<span>Managers</span>
			</a>
		</li>
		<li>
			<a href="/developers">
				<img src="/waw/img/agency/icons/developers.svg" alt="">
				<span>Developers</span>
			</a>
		</li>
		<li>
			<a href="/designers">
				<img src="/waw/img/agency/icons/designers.svg" alt="">
				<span>Designers</span>
			</a>
		</li>
		<li>
			<a href="/agents">
				<img src="/waw/img/agency/icons/agents.svg" alt="">
				<span>Agents</span>
			</a>
		</li>
	</ul>
</div>
