body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
}
.container-a{
	max-width: 1330px;
	width: 100%;
	height: calc(100% - 133px);
	padding: 0 15px;
	margin: 0 auto;
}
.header-t{
	padding: 20px 0;
	position: relative;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		max-width: 55px;
	}
	&__navigation{
		display: flex;
		li{
			margin-right: 110px;
			&:last-child{
				margin-right: 0;
			}
			a{
				color: #fff;
				transition: all .3s;
				&:hover{
					color: #d0c623;
				}
			}
		}
	}
	&__icon{
		&:last-child{
			margin-left: 45px;
		}
	}
}


// SCREEN BACKGROUND
.first-screen-s{
	position: relative;
	  &::before{
	    content: "";
	    position: absolute;
	    background: url(../img/techno.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    z-index: -2;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	  }
} 
.first-screen-a{
	position: relative;
	  &::before{
	    content: "";
	    position: absolute;
	    background: url(../img/school/bg.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    z-index: -2;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	  }
} 
.screen{
	position: relative;
	    &::before{
	      content: "";
	      position: absolute;
	      background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
	      width: 100%;
	      height: 100%;
	      z-index: -1;
	    }
	    &::after{
	      content: "";
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 100%;
	      height: 100%;
	      background: url(../img/web.png);
	      background-repeat: no-repeat;
	      background-position: center;
	      background-size: cover;
	      z-index: -2;
	    }
}

// SIDEBAR,MAIN POSITION
.agency{
	&-list{
		height: 100vh;
		overflow: hidden;
	}	
	&__wrapper{
		display: flex;
		flex-flow: row wrap;
		overflow-y: auto;
	}
	&__sidebar{
		&-wrap{
			flex: 0 0 210px;
		}
		li{
		    padding: 10px;
		    margin-bottom: 35px;
		    position: relative;
		    transition: all .3s;
		    border-radius: 15px;
		    &:hover{
		    	box-shadow: 0px 0px 44px -4px #43483A;
		    }
		    &::before{
		    	content: "";
		    	position: absolute;
		    	background: rgba(77, 81, 60, 0.7);
			    filter: blur(1px);
			    border-radius: 15px;
			    width: 100%;
			    height: 100%;
			    z-index: -1;
			    top: 0;
			    left: 0;
		    }
		    a{
		    	display: flex;
		 		align-items: center;
		    	span{
		    		font-size: 18px;
		    		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					font-family: 'Audiowide';
					padding-left: 15px;
					display: block;
		    	}
		    }
		}
	}
	&__main{
		&-wrap{
			padding-left: 45px;
			flex: 1 0;
			// overflow-y: scroll;
    		// height: calc(100vh - 105px);
		}
	}
}
.btn-a{
	max-width: 140px;
	width: 100%;
	height: 40px;
	background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
	border-radius: 120px;
	display: flex;
	justify-content: center;
	align-items:center;
	color: #2C2626;
	font-size: 16px;
	font-family: 'Audiowide';
	transition: all .3s;
	&:hover{
		box-shadow: 0px 0px 24px -4px #DAD01F;
	}
}