<div class="wrapper">
	<div class="bg-education">
		{{{'/waw/components/topbar'|c|safe}}}
		<section class="first-screen">
			<div class="container">
				<div class="first-screen__wrap">
					<div class="first-screen__content">
						<div class="first-screen__text">
							<div class="heading-primary heading-primary--yellow heading-primary--uppercase">
								WAW MANAGERS
							</div>
							<div class="description">
								Manager is your mentor in <span>IT world</span>. He is responsible for your workflow, soft
								skills, learning path and many other things.
							</div>
							<a href="/managers/#watch" class="btn btn--welcome">Watch managers</a>
						</div>
						<div class="first-screen__img">
							<img src="/waw/img/about-us.png" alt="about">
						</div>
					</div>
					<a href="/managers/#watch" class="first-screen__link">
						<img src="/waw/img/arrow-next.svg" alt="arrow-bottom">
					</a>
				</div>
			</div>
		</section>
	</div>
	<div class="bg-primary" id="watch">
		<div class="container">
			<section class="managers-section u-vertical-padding-section-big">
				<h3 class="heading-primary u-align-text-center">
					Choose your <span>manager</span>
				</h3>
				<div class="cards-grid cards-grid--row-gap">
					{% for user in users %}
					<div class="card-person">
						<img src="{{{user.avatarUrl}}}" alt="avatar" class="card-person__img">
						<div class="card-person__name">
							<span>{{{user.name}}}</span>
							{% if user.is.senior %}
							<span>(senior)</span>
							{% endif %}
							{% if !user.is.senior %}
							<span>(mid)</span>
							{% endif %}
						</div>
						<pre class="card-person__data">{{{user.data.manager_note}}}</pre>
						<div class="card-person__qualification">
							<span>{{{user.data.role}}}</span>
						</div>
						<a href="/roles" class="btn btn--visit">Join</a>
					</div>
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
	{{{'/waw/components/footer'|c|safe}}}
</div>