<section class="roadmap">
	<div class="container-a">
		<div class="roadmap__main-title global-title">
			Roadmap <span>Web Art Work</span>
		</div>
		<div class="roadmap__list">
			<div class="roadmap__wrap">
				<div class="roadmap__info">
					<div class="roadmap__title">
						Framework waw Community
					</div>
					<ul class="roadmap__part">
						<li class="roadmap__list">
							<div class="roadmap__img">
								<img src="/waw/img/career/slack.svg" alt="">
							</div>
							<div class="roadmap__text">
								<a href="https://join.slack.com/t/wawhub/shared_invite/zt-1hdr7ek8x-7b4wYm82YXuQMWjKt6cgkg" target="_blank">Join Slack</a>
							</div>
						</li>
						<li>
							<div class="roadmap__img">
								<img src="/waw/img/career/trello.svg" alt="">
							</div>
							<div class="roadmap__text">
								<a href="https://trello.com/" target="_blank">Join Trello</a>
							</div>
						</li>
						<li>
							<div class="roadmap__img">
								<img src="/waw/img/career/discord.svg" alt="">
							</div>
							<div class="roadmap__text">
								<a href="https://discord.com/" target="_blank">Join Discord</a>
							</div>
						</li>
						<li>
							<div class="roadmap__img">
								<img src="/waw/img/career/github.svg" alt="">
							</div>
							<div class="roadmap__text">
								<a href="https://github.com/" target="_blank">Join Github</a>
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Learn Basics
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Do some public work on github on web art work organization
							</div>
						</li>

					</ul>
				</div>
				<div class="roadmap__main-img">
					<img src="/waw/img/career/1.png" alt="">
				</div>
			</div>
			<div class="roadmap__wrap">
				<div class="roadmap__info">
					<div class="roadmap__title">
						Join Web Art Work Agency
					</div>
					<ul class="roadmap__part">
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								<a href="https://webart.work/managers" target="_blank">
									Select manager which suits on your skills
								</a>
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Add requests to join academy with selected manager
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Do more public work until you get spot with manager
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Learn English
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Make small projects for portfolio
							</div>
						</li>

					</ul>
				</div>
				<div class="roadmap__main-img">
					<img src="/waw/img/career/2.png" alt="">
				</div>
			</div>
			<div class="roadmap__wrap">
				<div class="roadmap__info">
					<div class="roadmap__title">
						Web Art Work Internship
					</div>
					<ul class="roadmap__part">
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Work in team
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Complete what you start
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Complete tasks in sprint
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Review other people work
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Make small projects for portfolio
							</div>
						</li>

					</ul>
				</div>
				<div class="roadmap__main-img">
					<img src="/waw/img/career/3.png" alt="">
				</div>
			</div>
			<div class="roadmap__wrap">
				<div class="roadmap__info">
					<div class="roadmap__title">
						Web Art Work Agency
					</div>
					<ul class="roadmap__part">
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Search for contracts
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Pepare for technical interviews
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Complete tasks in sprint
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								English in place
							</div>
						</li>
						<li>
							<div class="roadmap__dot">

							</div>
							<div class="roadmap__text">
								Make small projects for portfolio
							</div>
						</li>

					</ul>
				</div>
				<div class="roadmap__main-img">
					<img src="/waw/img/career/4.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
