<div class="wrapper">
	<div class="bg-primary">

		{{{'/waw/components/topbar'|c|safe}}}

		<section class="shop-section">
			<div class="shop">
				<div class="shop__intro">
					<div class="shop__intro-slider">
						<img src="waw/img/shop/slider-img-4.JPG" alt="slider-img" class="shop__intro-img">
						<img src="waw/img/shop/slider-img-5.JPG" alt="slider-img" class="shop__intro-img">
						<img src="waw/img/shop/slider-img-6.JPG" alt="slider-img" class="shop__intro-img">
					</div>
				</div>

				<div class="container">
					<div class="shop__categories-section">
						<h2 class="shop__categories-title">
							SHOP BY CATEGORY
						</h2>
						<div class="shop__categories">
							<a href="/products/pillows" class="shop__category-link">
								<div class="shop__category">
									<span class="shop__category-title">PILLOWS</span>
									<img src="waw/img/shop/pillow.JPG" alt="category-pillow" class="shop__category-img">
								</div>
							</a>
							<a href="/products/t-shirts" class="shop__category-link">
								<div class="shop__category">
									<span class="shop__category-title">T-SHIRTS</span>
									<img src="waw/img/shop/t-shirt.JPG" alt="category-pillow" class="shop__category-img">
								</div>
							</a>
							<a href="/products/shoppers" class="shop__category-link">
								<div class="shop__category">
									<span class="shop__category-title">SHOPPERS</span>
									<img src="waw/img/shop/shopper.JPG" alt="category-pillow" class="shop__category-img">
								</div>
							</a>
							<a href="/products/hoodies" class="shop__category-link">
								<div class="shop__category">
									<span class="shop__category-title">HOODIES</span>
									<img src="waw/img/shop/hoodie.JPG" alt="category-pillow" class="shop__category-img">
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="shop__slogan">
					<span class="shop__slogan-title">WAW CLOTHES</span>
					<p class="shop__slogan-text">“We believe in two things: the pursuit of quality in everything we do, and
						looking after one another. Everything else should take care of itself.”</p>
				</div>

				<div class="container">
					<div class="shop__collection">
						<div class="shop__collection-images">
							<img src="waw/img/shop/hoodie.JPG" alt="collection-img"
								class="shop__collection-img shop__collection-img--left">
							<img src="waw/img/shop/hoodie-2.JPG" alt="collection-img"
								class="shop__collection-img shop__collection-img--right">
						</div>
						<div class="shop__collection-info">
							<span class="shop__collection-title">
								Better for the planet
							</span>
							<p class="shop__collection-text">
								Committed to sustainability from the ground up. From recycled packaging, fibers, and even
								earth-inspired prints. Because we think swimwear should help clean up our waters, not pollute
								them.
							</p>
							<a href="/products" class="btn-transparent">
								SHOP THE COLLECTION
							</a>
						</div>
					</div>
				</div>

				<div class="shop__features">
					<div class="shop__feature">
						<img src="waw/img/shop/shipping.svg" alt="box" class="shop__feature-img">
						<h4 class="shop__feature-title">WORDWIDE SHIPPING</h4>
						<p class="shop__feature-text">
							We ship everywhere. No extra charge for orders over $250.
						</p>
					</div>
					<div class="shop__feature">
						<img src="waw/img/shop/certified.svg" alt="medal" class="shop__feature-img">
						<h4 class="shop__feature-title">CERTIFIED B CORPORATION</h4>
						<p class="shop__feature-text">
							We care about our employees and the environment.
						</p>
					</div>
					<div class="shop__feature">
						<img src="waw/img/shop/pay-later.svg" alt="v" class="shop__feature-img">
						<h4 class="shop__feature-title">SHOP NOW, PAY LATER</h4>
						<p class="shop__feature-text">
							Pay in isntallments with 0% interest through Shop Pay.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- </div> -->

		<!-- <div class="shop__cards">
				{% for product in products %}
				<div class="shop__card">
					<a class="shop__card-page" href="/product/{{{product.id}}}">
						<img src="{{{product.thumb || '/assets/shop.png'}}}" alt="item"
							class="shop__card-img"
						/>
						<h6 class="shop__card-title">{{{product.name}}}</h6>
					</a>
					<span class="shop__card-seller">WAW</span>
					<div class="shop__card-purchase">
						<span class="shop__card-price">{{{product.price}}}</span>
						<a class="shop__card-link">Add to card</a>
					</div>
				</div>
				{% endfor %} -->

		<!--
		{% for user in users %}
		<div style="color: black">{{{ user.name }}}</div>
		<div style="color: black">Products:</div>
		{% for product in user.products %}
		<div style="color: black; padding-left: 20px;">
			<span><a href="/product/{{{ product._id.toString() }}}">{{{ product.name }}}</a></span>
			<span> Price: {{{ product.price }}}</span>
		</div>
		{% endfor %}
		{% endfor %}
		-->
	</div>
	{{{'/waw/components/footer'|c|safe}}}
</div>