<div class="wrapper">
	<div class="content">
		<div class="first-screen-s">
			{{{'/waw/components/topbar'|c|safe}}}
			<section class="startup">
				<div class="container-a">
					<div class="startup__inner">
						<div class="startup__info">
							<h1 class="startup__title">
								WAW HOME DESIGN WEBSITE TEMPLATE
							</h1>
							<img src="/waw/img/startup/main.png" alt="" class="startup__main-img">
							<div class="startup__images">
								<img src="/waw/img/startup/additional.png" alt="" class="startup__img">
								<img src="/waw/img/startup/additional.png" alt="" class="startup__img">
								<img src="/waw/img/startup/additional.png" alt="" class="startup__img">
							</div>
							<div class="startup__text">
								<div class="startup__description">
									<span>DESCRIPTION:</span>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis justo eget ultricies congue. Proin sit amet rhoncus nisl. Maecenas nec tortor in eros rhoncus condimentum non ut lorem. Nam lacinia gravida arcu, ac tincidunt felis. Quisque interdum purus ac augue facilisis lacinia. Vivamus condimentum massa consectetur gravida suscipit. Vestibulum mauris dolor, posuere at posuere in, finibus id dolor. Etiam sollicitudin, elit eget pretium blandit, quam ante pharetra felis, quis suscipit orci sem a mi.
									</p>
								</div>
								<div class="startup__features">
									<span>FEATURES:</span>
									<div class="startup__features-list">
										<div class="startup__feature">
											<div class="startup__feature-dot"></div>
											<div class="startup__feature-text">Responsive</div>
										</div>
										<div class="startup__feature">
											<div class="startup__feature-dot"></div>
											<div class="startup__feature-text">Modern design</div>
										</div>
										<div class="startup__feature">
											<div class="startup__feature-dot"></div>
											<div class="startup__feature-text">Understandable code</div>
										</div>
										<div class="startup__feature">
											<div class="startup__feature-dot"></div>
											<div class="startup__feature-text">Adaptable to changes</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="startup__comments">
							<div class="product__comment">
								<div class="product__comment-title">
										<span class="product__comment-user">
											Dinis Dinisovich
										</span>
										<span class="product__comment-date">
											31 august 2022
										</span>
								</div>
								<div class="product__comment-rating">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-white.png" alt="" class="product__comment-star">
								</div>
								<p class="product__comment-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare maximus porta. Ut luctus purus id enim convallis vehicula. In ac nunc erat. Nunc vel lectus vestibulum ante dapibus placerat eget at neque. Praesent ut erat sodales, tempor lacus sit amet, semper turpis.
								</p>
								<p class="product__comment-advantages">
									Advantages: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare maximus porta. 
								</p>
								<p class="product__comment-disadvantages">
									Disadvantages: Etiam ornare maximus porta. Ut luctus purus id enim convallis vehicula.
								</p>
								<div class="product__comment-feedback">
									<div class="product__comment-respond">
										<img src="/waw/img/product/respond.svg" alt="">
										<span>Respond</span>
									</div>
									<div class="product__comment-responses">
										<img src="/waw/img/product/responses.svg" alt="">
										<span>3 Responses</span>
									</div>
								</div>
							</div>
							<div class="product__comment">
								<div class="product__comment-title">
										<span class="product__comment-user">
											Dinis Dinisovich
										</span>
										<span class="product__comment-date">
											31 august 2022
										</span>
								</div>
								<div class="product__comment-rating">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-yellow.png" alt="" class="product__comment-star">
									<img src="/waw/img/product/star-white.png" alt="" class="product__comment-star">
								</div>
								<p class="product__comment-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare maximus porta. Ut luctus purus id enim convallis vehicula. In ac nunc erat. Nunc vel lectus vestibulum ante dapibus placerat eget at neque. Praesent ut erat sodales, tempor lacus sit amet, semper turpis.
								</p>
								<p class="product__comment-advantages">
									Advantages: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare maximus porta. 
								</p>
								<p class="product__comment-disadvantages">
									Disadvantages: Etiam ornare maximus porta. Ut luctus purus id enim convallis vehicula.
								</p>
								<div class="product__comment-feedback">
									<div class="product__comment-respond">
										<img src="/waw/img/product/respond.svg" alt="">
										<span>Respond</span>
									</div>
									<div class="product__comment-responses">
										<img src="/waw/img/product/responses.svg" alt="">
										<span>3 Responses</span>
									</div>
								</div>
							</div>
							<div class="product__comment-more">
								<img src="/waw/img/arrow-next.svg" alt="" class="arrow-more">
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	{{{'/waw/components/footer'|c|safe}}}
</div>





<!-- <div style="color:black;">
	<h2>{{{ project.name }}}</h2>
	<div>
		<span>Description: </span>
		<span>{{{ project.description }}}</span>
	</div>
	<div>
		<span>Target: </span>
		<span>{{{ project.purpose }}}</span>
	</div>
	<div>
		<span>Category: </span>
		<span>{{{ project.category }}}</span>
	</div>
	<div>
		<span>Competitors: </span>
		<span>{{{ project.competitors }}}</span>
	</div>
	{% if project.web %}
	<div>
		<span>Web App</span>
	</div>
	{% endif %}
	{% if project.mobile %}
	<div>
		<span>Mobile App</span>
	</div>
	{% endif %}
	{% if project.desktop %}
	<div>
		<span>Desktop App</span>
	</div>
	{% endif %}
	{% if project.technical %}
	<div>
		<span>Technical experience</span>
	</div>
	{% endif %}
</div> -->