<h1>{{{name}}}</h1>

{% if thumb %}
<img src="https://api.webart.work{{{thumb}}}" alt="{{{name}}}" />
{% endif %} {% if role %}
<span>{{{role}}}</span>
{% endif %} {% if phone %}
<span>{{{phone}}}</span>
{% endif %} {% if location %}
<span>{{{location}}}</span>
{% endif %} {% if grade %}
<span>{{{grade}}}</span>
{% endif %} {% if activity %}
<span>{{{activity}}}</span>
{% endif %} {% if salary %}
<span>{{{salary}}}</span>
{% endif %} {% if inc %}
<span>{{{inc}}}</span>
{% endif %} {% if description %}
<p>{{{description}}}</p>
{% endif %}
