<!-- We need a differ logic from our origin website -->
<!-- We wanna explain how we handle each future we do -->
<!-- Phase one is where we review competitors and needs, which is basically work of business analyst -->
<!-- Developers review feature description and update it, so codex or other developer AI can create PR for this feature -->
<!-- Developers review AI pr and update it properly -->
<!-- AI review and provide feedback for developer updated PR -->
<!-- QA Test this feature and approve / reopen it -->
<!-- Feature is delivered -->
