<div class="wrapper">
	<div class="bg-primary">
		{{{'/waw/components/topbar'|c|safe}}}
		<section class="product-section u-vertical-padding-section">
			<div class="container">
				<div class="product">
					<img class="product__img" src="{{{product.thumb || '/assets/shop.png'}}}" alt="product">
					<div class="product__info">
						<h1 class="product__name">{{{product.name}}}</h1>
						<p class="product__description">
							{{{product.description}}}
						</p>

						<!-- <div class="product__tags">
							<div class="product__tag"></div>
							{% if product.colors.length %}
							<span>COLORS:</span>
							{% for color in product.colors %}
							{% if selected_color.id != color.id %}
							{% endif %}
							{% if selected_color.id == color.id %}
							<div class="product__tag active">
								{% endif %}
								<span data-color="{{{color.id}}}" data-available="{{{color.available}}}"
									data-sizes="{{{color.sizes|json}}}">{{{color.name}}}</span>
							</div>
							{% endfor %}
							{% endif %}
							<input type="text" name="color" id="color" value="{{{selected_color.id}}}" readonly hidden>
						</div> -->
						
						{% if selected_color.sizes.length %}
						<div class="product__sizes">
							<span>SIZES:</span>
							{% for size in selected_color.sizes %}
							{% if selected_size.id != size.id %}
							<div class="product__size">
								{% endif %}
								{% if selected_size.id == size.id %}
								<div class="product__size active">
									{% endif %}
									<span data-size="{{{size.id}}}"
										data-available="{{{size.available}}}">{{{size.name}}}</span>
								</div>
								{% endfor %}
							</div>
							{% endif %}
							<input type="text" name="size" id="size" value="{{{selected_size.id}}}" readonly hidden>
							<div class="product__amount">
								<span class="product__reduce">&minus;</span>
								<input class="product__number" type="number" step="1" min="1" value="1" id="amount"
									onkeypress="inputAmount(event)" onfocusout="checkAmount(event)">
								<span class="product__increase">&plus;</span>
							</div>
							<span class="product__price">PRICE: ${{{product.list_price}}}</span>
							<div class="u-center-block">
								<button class="btn-transparent btn-transparent--fs u-top-margin"
									data-product="{{{product.id}}}" onclick="addToCart(this)">{{{in_cart()}}}</button>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
	{{{'/waw/components/footer'|c|safe}}}
</div>
