<div class="agency-list screen">
	{{{'/waw/components/topbar'|c|safe}}}
	<div class="container-a">
		<div class="agency__wrapper">
		{{{'/waw/components/sidebar'|c|safe}}}
		<div class="agency__main-wrap">
			<div class="agency__main">
				<div class="member__card">
					<div class="member__card-wrap">
						<div class="member__card-item">
							<div class="member__team-wrap">
								{% for member in team.moderators %}
								<div class="member__team-item">
									<div class="member__team-img">
										<img src="{{{member.avatarUrl||'waw/img/agency/main2.jpg'}}}" alt="">
									</div>
									<div class="member__team-text">
										<div class="member__team-title">
											{{{member.name}}}
										</div>
										<div class="member__team-subtitle">
											{% if member.data.role %}- {% endif %}
											{{{member.data.role}}}
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="member__card-wrap">
						<div class="member__card-item">
							<div class="member__text">
								{{{team.description}}}
							</div>
						</div>
					</div>
				</div>
				{% if portfolios.length %}
				<div class="portfolio__list">
					{% for portfolio in portfolios %}
					<div class="portfolio__wrap">
						<div class="portfolio__text">
							<div class="portfolio__title">
								{{{portfolio.name}}}
							</div>
							<div class="member__skills-list">
								{% for skill in portfolio.skills %}
								<div class="member__skills-wrap member__skills-wrap--portfolio">
									<div class="member__skills-item">
										<span>{{{skill.name}}}</span>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="portfolio__description">
								{{{portfolio.description}}}
								<a href="{{{portfolio.urls}}}">Watch project</a>
							</div>
						</div>
						<div class="portfolio__img">
							<img src="{{{portfolio.images.length && portfolio.images[0] || 'waw/img/agency/portfolio.png'}}}" alt="">
						</div>
					</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	</div>
</div>
