<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="#" class="header__logo">
				<img src="/waw/img/spider-logo-v2.svg" alt="logo">
			</a>
			<ul class="header__navigation">
				<li><a href="/agency">Agency</a></li>
				<li><a href="/school">School</a></li>
				<!-- <li><a href="/startups">Startups</a></li> -->
				<!-- <li><a href="/shop">Shop</a></li> -->
			</ul>
			<div class="burger-wrap">
				<div class="burger"></div>
			</div>
			<div class="header__icons">
				<a href="https://www.upwork.com/ag/webartwork" target="_blank">
					<img src="/waw/img/icons/header/upwork.svg" alt="upwork">
				</a>
				<a href="https://t.me/webartwork" class="header__icon">
					<img src="/waw/img/icons/header/telegram.svg" alt="telegram">
				</a>
				<a href="/profile" class="header__icon" class="header__icon">
					<img src="/waw/img/icons/header/user.svg" alt="profile">
				</a>
				<!-- <a href="/cart" class="header__icon" class="header__icon">
					<img src="/waw/img/icons/header/basket.svg" alt="basket">
				</a> -->
			</div>
		</div>
	</div>
</header>
