<header class="header-t">
	<div class="container-a">
		<div class="header-t__wrapper">
			<a href="" class="header-t__logo">
				<img src="waw/img/spider.svg" alt="">
			</a>
			<ul class="header-t__navigation">
				<li><a href="">Agency</a></li>
				<li><a href="">Academy</a></li>
				<li><a href="">Startups</a></li>
				<li><a href="">Shop</a></li>
			</ul>
			<div class="header-t__icons">
				<!-- <a href="" class="header-t__icon">
					<img src="waw/img/agency/icons/new.svg" alt="">
				</a> -->
				<a href="" class="header-t__icon">
					<img src="waw/img/agency/icons/user.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</header>
