<header class="header-w">
	<div class="container-w">
		<div class="header-w__wrap">
			<a href="" class="header-w__logo">
				<img src="/waw/img/spider.svg" alt="">
			</a>
			<ul class="header-w__navigation">
				<li><a href="/agency">Agency</a></li>
				<li><a href="/academy">Academy</a></li>
				<li><a href="/startups">Startups</a></li>
				<li><a href="/shop">Shop</a></li>
			</ul>
			<div class="burger-wrap">
				<div class="burger"></div>
			</div>
			<div class="header-w__icons">
				<a href="https://www.upwork.com/ag/webartwork" target="_blank" class="header-w__icon">
					<img src="/waw/img/icons/up.svg" alt="">
				</a>
				<a href="https://t.me/webartwork" class="header-w__icon">
					<img src="/waw/img/icons/telegram.svg" alt="" class="header-w__icon-telegram">
				</a>
				<a href="/profile" class="header-w__icon" class="header-w__icon">
					<img src="/waw/img/icons/user.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</header>