@mixin form-view {
    background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.468) -22.15%, rgba(23, 32, 49, 0.516) 86.36%);
    backdrop-filter: blur(7.5px);
    border-radius: 30px;
    padding: 30px;
}