.academy{
	&__wrap{
		display: flex;
    	flex-flow: row wrap;
    	align-items: center;
	}
	&__text{
		flex: 1 0;
	}
	&__img {
		flex: 0 0 590px;
	}
	&__title{
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-shadow: 0px 0px 3.5px #D4CA1F;
		font-family: 'Audiowide';
		font-size: 46px;
		padding-bottom: 35px;
	}
	&__description{
		font-weight: 700;
		font-size: 26px;
		line-height: 44px;
		max-width: 680px;
	}
	&__btn{
		padding-top: 55px;
	}
	&__arrow{
		text-align: center;
	}
}
.lessons,
.courses {
	&__list{
		display: flex;
		flex-flow: row wrap;
	}
	&__wrap{
		padding: 0 15px;
		width: 66%;
		margin: 0 auto;
		margin-bottom: 30px;
		cursor: pointer;
	}
	&__item{
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		padding: 30px;
		background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
		width: 100%;
		border-radius: 32px;
		transition: all .3s;
		&:hover{
			background: rgba(77, 81, 60, 0.7);
		}
		&-info {
			display: flex;
			column-gap: 20px;
		}
		&-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 10px;
			animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-name: slideInLeft;
		}
		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 10px;
		}
		&-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-counter{
		    height: 60px;
		    width: 60px;
		    margin-right: 24px;
		    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		    border-radius: 50%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    font-family: 'Audiowide';
		    font-size: 44px;
		    p{
		    	background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
		    }
		}
		&-text {
			font-family: 'Audiowide';
			font-size: 36px;
    		word-break: break-all;
    		flex: 1 0;
		}
		&-img {
			border-radius: 12px;
			max-width: 220px;
		}
		&-author {
			font-size: 26px;
			text-align: center;
		}
		&-description {
			
		}
		&-btn {
			display: flex;
    		align-self: end;
    		animation-duration: 1s;
	        animation-timing-function: ease-in-out;
	        animation-delay: 0s;
	        animation-iteration-count: 1;
	        animation-name: slideInRight;
			.btn-w{
				width: 220px;
	    		height: 55px;
			}
		}
	}
}
.courses {

}
.cards{
	&__list{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	&__wrap{
		padding: 0 15px;
		width: 325px;
		margin-bottom: 30px;
		cursor: pointer;
	}
	&__item{
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		padding: 24px;
		background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
		width: 100%;
		border-radius: 32px;
		transition: all .3s;
		&:hover{
			background: rgba(77, 81, 60, 0.7);
		}
		&-info {
			display: flex;
			column-gap: 20px;
		}
		&-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 10px;
		}
		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 10px;
		}
		&-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-counter{
		    height: 50px;
		    width: 50px;
		    margin-right: 12px;
		    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		    border-radius: 50%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    font-family: 'Audiowide';
		    font-size: 38px;
		    p{
		    	background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
		    }
		}
		&-text {
			font-family: 'Audiowide';
			font-size: 28px;
    		word-break: break-all;
    		flex: 1 0;
		}
		&-img {
			border-radius: 12px;
			max-width: 220px;
	     	animation-duration: 1s;
	        animation-timing-function: ease-in-out;
	        animation-delay: 0s;
	        animation-iteration-count: 1;
	        animation-name: slideInLeft;
		}
		&-author {
			font-size: 26px;
			text-align: self;
		}
		&-description {
			
		}
		&-btn {
			display: flex;
    		align-self: end;
    		width: 100%;
			.btn-w{
				// width: 220px;
	    		height: 42px;
			}
		}
	}
}
.course{
	&__wrap{
		display: flex;
    	flex-flow: row wrap;
    	padding: 50px 0;
	}
	&__article{
		flex: 1 0;
		padding-right: 45px;
	}
	&__title{
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-shadow: 0px 0px 3.5px #C4BB1E;
		font-family: 'Audiowide';
		font-weight: 400;
		font-size: 46px;
		padding-bottom: 40px;
	}
	&__description{
		font-weight: 500;
		font-size: 22px;
		line-height: 28px;
		padding-bottom: 30px;	
	}
	&__italic{
		font-style: italic;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-decoration-line: underline;
		color: #D1C71F;
		padding: 20px 0;
	}
	&__list{
		li{
			padding-bottom: 15px;
			font-size: 20px;
			font-weight: 300;
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
	&__sidebar{
		&-list{
			flex: 0 0 390px;
    		padding-left: 60px;
    		position: relative;
    		&::before{
    			content: "";
    			position: absolute;
    			width: 4px;
    			background:linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
    			left: 0;
    			top: 0;
    			height: 95%;
    		}
		}
		&-wrap{
			overflow-y: scroll;
    		max-height: 350px;
		}
		&-title{
			font-family: 'Audiowide';
			font-size: 18px;
			background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			text-shadow: 0px 0px 3.5px #C4BB1E;
			padding: 15px 0 10px 0;
		}
		&-description{
			font-weight: 300;
			font-size: 16px;
			color: #fff;
		}
		&-item{
			margin-bottom: 20px;
			display: block;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-img{
			img{
				width: 325px;
				height: 210px;
				object-fit: cover;
				border-radius: 32px;
			}
		}
	}
	&__img{
		max-width: 560px;
	}
}
.school{
	&__main-title{
		padding: 20px 0 30px 0;
		font-size: 48px;
		text-align: left;
		span{
			display: block
		}
	}
	&__main-img{
		flex: 0 0 600px;
	}
	&__description{
		max-width: 950px;
		span{
			font-weight: 900;
			color: #d0c623;
		}
	}
	&__main-wrap{
		display: flex;
		flex-flow: row wrap;
		align-items:center;
	}
	&__main-btn{
		padding-top: 40px;
	}
	&__text{
		flex: 1 0;
	}
	&__choose{
		padding: 30px 0;
	}
	&__list{
		display: flex;
		flex-flow: row wrap;
	}
	&__wrap{
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding: 0 35px;
		margin-bottom: 30px;
	}
	&__item{
		background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
		padding: 25px;
		border-radius: 32px;
	}
	&__img{
		img{
			width: 100%;
			height: 200px;
			object-fit:cover;
			border-radius: 22px;
		}
	}
	&__name{
		font-family: "Audiowide";
		font-size: 24px;
		padding: 20px 0 15px 0;
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: rgba(0,0,0,0);
	    background-clip: text;
	    text-fill-color: rgba(0,0,0,0);
	}
	&__skill{
		color: #d0c623;
		padding-bottom: 15px;
	}
	&__btn{
		.btn-w{
			max-width: 200px;
			height: 45px;
		}
	}
	&__addition{
		padding-bottom: 15px;
	}
}

// A N I M A T I O N S
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}


// M E D I A
@media screen and (max-width: 1199px){
	.lessons__wrap {
		width: 72%;
	}
	.academy__img {
	    flex: 0 0 500px;
	}
	.academy__description {
    	font-weight: 500;
    	font-size: 22px;
    	line-height: 34px;
	}
	.lessons__title-text{
		font-size: 28px;
	}
	.course__sidebar-list {
	    flex: 0 0 300px;
	    padding-left: 30px;
	}
	.course__sidebar-img img {
	    width: 270px;
	    height: 175px;
	}
	.school__main-img {
    	flex: 0 0 480px;
	}
	.school__main-img {
    	flex: 0 0 480px;
	}
	.school__img img{
		height: 150px;
	}
	.school__name{
		font-size: 22px;
	}
}
@media screen and (max-width: 991px){
	.academy__title{
		font-size: 28px;
    	padding-bottom: 25px;
	}
	.academy__description{
		font-size: 18px;
    	line-height: 24px;
	}
	.academy__img {
    	flex: 0 0 400px;
	}
	.lessons__title-text {
    	font-size: 26px;
	}
	.course__sidebar-list {
    	flex: 0 0 220px;
    	padding-left: 20px;
	}
	.course__sidebar-img img {
    	height: 135px;
    	border-radius: 22px;
	}
	.course__title{
		font-size: 36px;
    	padding-bottom: 30px;
	}
	.school__main-img {
    	flex: 0 0 360px;
	}
	.school__main-title{
		font-size: 36px;
	}
	.school__wrap{
		padding: 0 10px;
	}

}
@media screen and (max-width: 767px){
	.welcome-s { 
		padding-top: 105px;
	}
	.lessons__item-btn .btn-w {
		width: 180px;
	    height: 42px;
	}
	.academy__wrap{
		flex-flow: column wrap;
	}
	.academy__text{
		text-align: center;
		max-width: 600px;
	}
	.academy__img{
		margin: 0 auto;
		flex: 0 0 100%;
    	 max-width: 600px;
	}
	.academy__btn{
		display: none;
	}
	.lessons__wrap{
		flex: 0 0 100%;
    	max-width: 100%;
    	padding: 0;
	}
	.course__article{
		flex: 0 0 100%;
		padding-right: 25px;
	}
	.course__wrap {
    	padding: 25px 0;
	}
	.course__title {
    	font-size: 32px;
	}
	.course__sidebar-list {
    	flex: 0 0 100%;
    	padding-left: 0;
	}
	.course__sidebar-wrap {
	    max-height: 100%;
	    overflow: auto;
	    width: 100%;
	    display: flex;
	    flex-flow: row wrap;
	    padding-top: 20px;
	}
	.course__sidebar-item{
		text-align: center;
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 8px;
	}
	.course__sidebar-list::before {
	    width: 100%;
	    height: 4px;
	}
	.school__main-img{
		flex: 0 0 100%;
		max-width: 450px;
		order: 1;
	}
	.school__text{
		flex: 0 0 100%;
	}
	.school__main-wrap{
		flex-flow: column wrap;
	}
	.school__main-title, .school__description{
		text-align: center;
	}
	.school__main-btn{
		.btn-w{
			margin: 0 auto;
		}
	}
	.school__wrap {
    	flex: 0 0 50%;
    	max-width: 50%;
	}
}
@media screen and (max-width: 579px){
	.lessons {
		&__item {
			&-info {
				flex-direction: column;
			}
			&-img {
				max-width: 160px;
			}
			&-text {
				font-size: 24px;	
			}
			&-counter {
				height: 44px;
				width: 44px;
				font-size: 32px;
				font-weight: 700;
				margin-right: 14px;
			}
			&-btn {
				width: 100%;
				height: 42px;
			}
			&-btn .btn-w {
				min-width: 100%;
			}
		}
	}
}
@media screen and (max-width: 479px){
	.lessons__item {
	    padding: 20px;
	}
	.lessons__title-text {
    	font-size: 18px;
    	padding-left: 10px;
	}
	.lessons__title-img{
		font-size: 26px;
		flex: 0 0 35px;
    	height: 35px;
	}
	.lessons__main-title{
		font-size: 22px;
	}
	.lessons__description {
    	padding-top: 20px;
    	font-size: 16px;
	}
	.lessons__btn {
    	padding-top: 20px;
	}
	.lessons__btn .btn-w {
    	max-width: 180px;
    	height: 45px;
    	font-size: 18px;
	}
	.course__article {
    	padding-right: 0;
	}
	.course__title{
		font-size: 24px;
		padding-bottom: 20px;
	}
	.course__description {
	    font-size: 18px;
	    line-height: 24px;
	    padding-bottom: 15px;
	}
	.course__list li{
		font-size: 18px;
		padding-bottom: 10px;
	}
	.course__italic{
		font-size: 16px;
    	line-height: 20px;
    	padding: 10px 0;
	}
	.course__sidebar-item{
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.school__main-title {
	    font-size: 28px;
	}
	.school__description{
		font-size: 16px;
	}
	.school__wrap{
		flex: 0 0 100%;
	    padding: 0;
	    max-width: 300px;
	    margin: 0 auto 30px;
	}
}