.academy {
	&__wrap {
		position: relative;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
	}
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__img {
		max-width: 660px;
		& img {
			width: 100%
		}
	}
	&__title{
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-shadow: 0px 0px 3.5px #D4CA1F;
		font-family: 'Audiowide';
		font-size: 46px;
		padding-bottom: 35px;
		text-transform: uppercase;
	}
	&__description {
		font-weight: 700;
		font-size: 26px;
		line-height: 44px;
		max-width: 640px;
	}
	&__btn {
		padding-top: 55px;
	}
	&__arrow {
		text-align: center;
	}
}
.lessons,
.courses {
	&__list {
		display: flex;
		flex-flow: row wrap;
	}
	&__wrap {
		padding: 0 15px;
		width: 66%;
		margin: 0 auto;
		margin-bottom: 30px;
		cursor: pointer;
	}
	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		padding: 30px;
		background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
		width: 100%;
		border-radius: 32px;
		transition: all .3s;
		&:hover{
			background: rgba(77, 81, 60, 0.7);
		}
		&-info {
			display: flex;
			column-gap: 20px;
		}
		&-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 20px;
		}
		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 20px;
		}
		&-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-counter{
	    height: 60px;
	    width: 60px;
	    margin-right: 24px;
	    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
	    border-radius: 50%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-family: 'Audiowide';
	    font-size: 44px;
	    p{
	    	background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
	    }
		}
		&-text {
			font-family: 'Audiowide';
			font-size: 36px;
  		// word-break: break-all;
  		flex: 1 0;
		}
		&-img {
			border-radius: 12px;
			max-width: 220px;
		}
		&-author {
			font-size: 26px;
			text-align: center;
		}
		&-description {
			
		}
		&-btn {
   		padding: 10px 110px;
   		text-align: center;
  		text-decoration: none;
   		border-radius: 120px;
			display: inline-block;
			background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
      cursor: pointer;
      color: #2c2626;
      font-size: 22px;
    	font-family: "Audiowide";
      &:hover{
        box-shadow: 0px 0px 24px -4px #DAD01F;
      }
			// display: flex;
   //  	align-self: end;
			// .btn-w{
			// 	width: 220px;
   //  		height: 55px;
			// }
		}
	}
}
.cards{
	&__list{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	&__wrap{
		padding: 0 15px;
		width: 325px;
		margin-bottom: 30px;
		cursor: pointer;
	}
	&__item{
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		padding: 24px;
		background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
		width: 100%;
		border-radius: 32px;
		transition: all .3s;
		&:hover{
			background: rgba(77, 81, 60, 0.7);
		}
		&-info {
			display: flex;
			column-gap: 20px;
		}
		&-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 10px;
		}
		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 10px;
		}
		&-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-counter{
		    height: 50px;
		    width: 50px;
		    margin-right: 12px;
		    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		    border-radius: 50%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    font-family: 'Audiowide';
		    font-size: 38px;
		    p{
		    	background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
		    }
		}
		&-text {
			font-family: 'Audiowide';
			font-size: 28px;
  		word-break: break-all;
  		flex: 1 0;
		}
		&-img {
			border-radius: 12px;
			max-width: 220px;
		}
		&-author {
			font-size: 26px;
			text-align: self;
		}
		&-btn {
			display: flex;
    		align-self: end;
    		width: 100%;
			.btn-w {
				// width: 220px;
	    		height: 42px;
			}
		}
	}
}
.course {
	&__wrap {
		display: flex;
  	flex-flow: row wrap;
  	padding: 50px 0;
	}
	&__article{
		flex: 1 0;
		padding-right: 45px;
	}
	&__title{
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-shadow: 0px 0px 3.5px #C4BB1E;
		font-family: 'Audiowide';
		font-weight: 400;
		font-size: 46px;
		padding-bottom: 40px;
	}
	&__description{
		font-weight: 500;
		font-size: 22px;
		line-height: 28px;
		padding-bottom: 30px;	
	}
	&__italic{
		font-style: italic;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-decoration-line: underline;
		color: #D1C71F;
		padding: 20px 0;
	}
	&__list{
		li{
			padding-bottom: 15px;
			font-size: 20px;
			font-weight: 300;
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
	&__sidebar{
		&-list{
			flex: 0 0 390px;
    		padding-left: 60px;
    		position: relative;
    		&::before{
    			content: "";
    			position: absolute;
    			width: 4px;
    			background:linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
    			left: 0;
    			top: 0;
    			height: 95%;
    		}
		}
		&-wrap{
			overflow-y: scroll;
    		max-height: 350px;
		}
		&-title{
			font-family: 'Audiowide';
			font-size: 18px;
			background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			text-shadow: 0px 0px 3.5px #C4BB1E;
			padding: 15px 0 10px 0;
		}
		&-description{
			font-weight: 300;
			font-size: 16px;
			color: #fff;
		}
		&-item{
			margin-bottom: 20px;
			display: block;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-img{
			img{
				width: 325px;
				height: 210px;
				object-fit: cover;
				border-radius: 32px;
			}
		}
	}
	&__img{
		max-width: 560px;
	}
}
.school{
	&__main-title{
		padding: 20px 0 30px 0;
		font-size: 48px;
		text-align: left;
		span{
			display: block
		}
	}
	&__main-img{
		flex: 0 0 600px;
	}
	&__description{
		max-width: 950px;
		span{
			font-weight: 900;
			color: #d0c623;
		}
	}
	&__main-wrap{
		position: relative;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
	}
	&__main-btn{
		padding-top: 40px;
	}
	&__text{
		flex: 1 0;
	}
	&__choose{
		padding: 30px 0;
	}
	&__list{
		display: flex;
		flex-flow: row wrap;
	}
	&__wrap{
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding: 0 35px;
		margin-bottom: 30px;
	}
	&__item{
		background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
		padding: 25px;
		border-radius: 32px;
	}
	&__img{
		img{
			width: 100%;
			height: 200px;
			object-fit:cover;
			border-radius: 22px;
		}
	}
	&__name{
		font-family: "Audiowide";
		font-size: 24px;
		padding: 20px 0 15px 0;
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: rgba(0,0,0,0);
	    background-clip: text;
	    text-fill-color: rgba(0,0,0,0);
	}
	&__skill{
		color: #d0c623;
		padding-bottom: 15px;
	}
	&__btn{
		.btn-w{
			max-width: 200px;
			height: 45px;
		}
	}
	&__addition{
		padding-bottom: 15px;
	}
}

// A N I M A T I O N S
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}


// M E D I A
@media screen and (max-width: 1199px){
	.lessons__wrap {
		width: 72%;
	}
	.academy__description {
  	font-weight: 500;
  	font-size: 22px;
  	line-height: 34px;
	}
	.lessons__title-text{
		font-size: 28px;
	}
	.course__sidebar-list {
    flex: 0 0 300px;
    padding-left: 30px;
	}
	.course__sidebar-img img {
    width: 270px;
    height: 175px;
	}
	.school__main-img {
  	flex: 0 0 480px;
	}
	.school__main-img {
  	flex: 0 0 480px;
	}
	.school__img img{
		height: 150px;
	}
	.school__name{
		font-size: 22px;
	}
}
@media screen and (max-width: 991px) {
	.academy {
		&__content {
			height: 100%;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
		}
		&__text {
			text-align: center;
			margin-bottom: 35px;
		}
		&__title {
			font-size: 28px;
    	padding-bottom: 25px;	
		}
		&__description {
			font-size: 18px;
    	line-height: 24px;	
		}
		&__btn {
			display: none;
		}
	}
	.lessons {
		&__title {
			&-text {
				font-size: 26px;	
			}	
		}
	}
	.course {
		&__sidebar {
			&-list {
				flex: 0 0 220px;
    		padding-left: 20px;	
			}
			&-img {
				img {
					height: 135px;
	  			border-radius: 22px;			
				}
			}
		}
		&__title {
			font-size: 36px;
    	padding-bottom: 30px;	
		}
	}
	.school {
		&__main {
			&-img {
				flex: 0 0 360px;	
			}
			&-title {
				font-size: 36px;		
			}
		}
		&__wrap {
			padding: 0 10px;	
		}
	}
	.courses {
		&__item {
			&-counter {
				height: 44px;
				width: 44px;
				margin-right: 15px;
				font-size: 36px;
			}
			&-text {
				font-size: 28px;
			}
			&-info {
				flex-direction: column;
				row-gap: 20px;
			}
		}
	}
}
@media screen and (max-width: 767px){
	.welcome-s { 
		padding-top: 105px;
	}
	.lessons__item-btn .btn-w {
		width: 180px;
	  height: 42px;
	}

	.lessons__item-btn,
	.courses__item-btn {
		align-self: center;
	}

	.academy {
		&__text {
			text-align: center;
			max-width: 600px;	
		}
		&__img {
			max-width: 600px;
		}
		&__btn {
			display: none;
		}
	}

	.lessons,
	.courses {
		&__wrap {
			width: 88%;
		}
	}

	.lessons {
		&__wrap {
			flex: 0 0 100%;
    	max-width: 100%;
    	padding: 0;	
		}
	}

	.course {
		&__article {
			flex: 0 0 100%;
			padding-right: 25px;	
		}
		&__wrap {
			padding: 25px 0;
		}
		&__title {
			font-size: 32px;
		}
		&__sidebar {
			&-list {
				flex: 0 0 100%;
	    	padding-left: 0;	
			}
			&-wrap {
				max-height: 100%;
		    overflow: auto;
		    width: 100%;
		    display: flex;
		    flex-flow: row wrap;
		    padding-top: 20px;	
			}
			&-item {
				text-align: center;
				flex: 0 0 50%;
				max-width: 50%;
				padding: 0 8px;		
			}
			&-list {
				&::before {
					width: 100%;
			    height: 4px;		
				}
			}
		}
	}

	.school {
		&__main {
			&-img {
				flex: 0 0 100%;
				max-width: 450px;
				order: 1;		
			}
			&-wrap {
				flex-flow: column wrap;		
			}
			&-title {
				text-align: center;
			}
			&-btn {
				.btn-w {
					margin: 0 auto;
				}
			}
		}
		&__text {
			flex: 0 0 100%;	
		}
		&__description {
			text-align: center;
		}
		&__wrap {
			flex: 0 0 50%;
  		max-width: 50%;	
		}
	}
}
@media screen and (max-width: 579px) {
	.lessons,
	.courses {
		&__item {
			&-right,
			&-left {
				row-gap: 10px;
			}
		}
	}

	.lessons {
		&__item {
			&-info {
				flex-direction: column;
			}
			&-img {
				max-width: 160px;
			}
			&-text {
				font-size: 24px;	
			}
			&-counter {
				height: 44px;
				width: 44px;
				font-size: 32px;
				font-weight: 700;
				margin-right: 14px;
			}
			&-btn {
				width: 100%;
				height: 42px;
			}
			&-btn .btn-w {
				min-width: 100%;
			}
		}
	}

	.courses {
		&__item {
			&-img {
				max-width: 160px;
			}
			&-counter {
				height: 32px;
				width: 32px;
				margin-right: 10px;
				font-size: 26px;
			}
			&-text {
				font-size: 20px;
			}
			&-info {
				flex-direction: column;
			}
		}
	}


}
@media screen and (max-width: 479px){
	.lessons,
	.courses {
		&__wrap {
			width: 90%;
		}
		&__item {
			&-counter {
				display: none;
			}
			&-btn {
				padding: 10px 52px;
			}
		}
	}

	.lessons {
		&__item {
			padding: 20px;
		}
		&__title {
			&-text {
				font-size: 18px;
    		padding-left: 10px;	
			}
			&-img {
				font-size: 26px;
				flex: 0 0 35px;
				height: 35px;		
			}
		}
		&__main {
			&-title {
				font-size: 22px;
			}
		}
		&__description {
			padding-top: 20px;
    	font-size: 16px;
		}
		&__btn {
			padding-top: 20px;
			.btn-w {
				max-width: 180px;
	    	height: 45px;
	    	font-size: 18px;	
			}
		}
	}

	.courses {
		&__item {
			&-img {
				max-width: 120px;
			}
		}
	}

	.course {
		&__article {
			padding-right: 0;
		}
		&__title {
			font-size: 24px;
			padding-bottom: 20px;
		}
		&__description {
			font-size: 18px;
			line-height: 24px;
			padding-bottom: 15px;
		}
		&__list {
			li {
				font-size: 18px;
				padding-bottom: 10px;
			}
		}
		&__italic {
			font-size: 16px;
    	line-height: 20px;
    	padding: 10px 0;	
		}
		&__sidebar {
			&-item {
				flex: 0 0 100%;
    		max-width: 100%;		
			}
		}
	}

	.schools {
		&__wrap {
			flex: 0 0 100%;
	    padding: 0;
	    max-width: 300px;
	    margin: 0 auto 30px;
		}
		&__main {
			&-title {
				font-size: 28px;	
			}
		}
		&__description {
			font-size: 16px;
		}
	}
}