.agency {
	&__main {
		padding: 0 30px 20px 0;
		height: calc(100vh - 133px);
    	overflow-y: auto;
	}
}

/* __ -- MEMBERS -- __ */
.members {
	&__list {
		height: calc(100vh - 133px);
		display: flex;
		flex-flow: row wrap;
		// overflow-y: scroll;
	}
	&__wrap {
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding: 0 30px;
		display: flex;
		margin-bottom: 30px;
	}
	&__item {
		position: relative;
		padding: 22px;
		display: flex;
		flex-flow: column wrap;
		margin: 0 auto;
		width: 100%;
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
			border-radius: 30px;
			z-index: -1;
		}
	}
	&__img{
		margin: 0 auto;
		padding-bottom: 25px;
		width: 100%;
		img{
			width: 100%;
		    height: 160px;
		    border-radius: 18px;
		    object-fit: cover;
		}
	}
	&__text{
		padding-bottom: 20px;
	}
	&__title{
		font-size: 18px;
		font-family: 'Audiowide';
		padding-bottom: 10px;
	}
	&__subtitle{
		color: #D0C623;
	}
	&__btn{
		margin-top: auto;
	}
}

/* __ -- MEMBER PROFILE -- __ */

.member {
	&__card {
		position: relative;
		padding: 30px;
		display: flex;
    	flex-flow: row wrap;
    	justify-content: space-between;
    	&-wrap{
    		flex: 0 0 48%;
    		max-width: 50%;
    	}
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
			border-radius: 30px;
			z-index: -1;
		}
	}
	&__user{
		display: flex;
		flex-flow: row wrap;
		align-items:center;
		padding-bottom: 25px;
		&-img{
			flex: 0 0 200px;
			max-width: 200px;
			img{
				width: 100%;
				object-fit: cover;
			}
		}
		&-text{
			flex: 1 0;
			padding-left: 25px;
		}
		&-name{
			font-family: 'Audiowide';
		}
		&-subtitle{
			color: #D0C623;
			padding-top: 15px;
		}
	}
	&__info{
		&-list{
			display: flex;
			flex-flow: row wrap;
		}
		&-wrap{
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 15px;
			&:nth-child(even){
				.member__info-item{
					a{
						margin-left: 55px;
					}
				}
			}
		}
		&-item{
			a{
				display: flex;
				align-items: center;
				img{
					width: 24px;
					height: 24px;
				}
				span{
					display: block;
					margin-left: 12px;
					color: #fff;
					word-break: break-word;
				}
			}
		}
	}
	&__skills{
		&-list{
			display: flex;
    		flex-flow: row wrap;
    		padding-top: 20px;
		}
		&-wrap{
			flex: 0 0 25%;
			max-width: 25%;
			padding-right: 10px;
			margin-bottom: 10px;
		}
		&-item{
			background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
			border-radius: 120px;
			text-align: center;
			span{
				background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
				display: block;
				padding: 5px 0;
			}
		}
	}
	&__text{
		font-weight: 600;
		line-height: 24px;
	}
	&__team{
		&-img{
			flex: 0 0 120px;
			img{
				width: 120px;
			    height: 80px;
			    border-radius: 18px;
			    object-fit: cover;
			}
		}
		&-item{
			display: flex;
			flex-flow: row wrap;
			align-items:center;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-text{
			padding-left:30px;
			flex: 1 0;
		}
		&-title{
			font-family: "Audiowide";
			padding-bottom: 10px;
		}
		&-subtitle{
			color: #d0c623;
		}
	}
}

.portfolio{
	&__list{
		padding-top: 50px;
	}
	&__wrap{
		display: flex;
    	flex-flow: row wrap;
    	margin-bottom: 40px;
    	&:nth-child(even){
    		.portfolio__img{
    			order: 0;
    		}
    		.portfolio__text{
    			order: 1;
    			padding: 0 0 0 50px;
    		}
    	}
	}
	&__text{
		flex: 1 0;
		padding-right: 50px;
	}
	&__img {
		flex: 0 0 525px;
		img {
			border-radius: 32px;
		}
	}
	&__title{
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-family: 'Audiowide';
		font-size: 28px;
	}
	&__description{
		line-height: 24px;
		padding-top: 10px;
		a{
			display: block;
			color: #D0C623;
		}
	}
}
@media screen and (max-width: 1300px){
	.members__wrap {
	    padding: 0 10px;
	}
}
@media screen and (max-width: 1199px){
    .agency__main-wrap{
    	padding-left: 20px;
    }
    .agency__sidebar li a span {
	    font-size: 16px;
	    padding-left: 10px;
	}
	.agency__sidebar-wrap {
    	flex: 0 0 180px;
	}
	.members__img img{
    	height: 145px;
	}
}
@media screen and (max-width: 991px){
	.agency__sidebar-wrap {
	    flex: 0 0 40px;
	}
	.agency__sidebar li a span {
    	display: none;
	}
	.agency__sidebar li {
	    border-radius: 12px;
	    height: 40px;
	    display: flex;
	    align-items: center;
	}
	.agency__sidebar li::before{
		border-radius: 12px;
	}
	.header-t__logo {
    	max-width: 40px;
	}
	.header-t__icons a img{
		width: 30px;
		height: 30px;
	}
	.header-t__icon:last-child {
    	margin-left: 25px;
	}
	.header-t__navigation li {
    	margin-right: 80px;
	}
	.members__title{
		font-size: 16px;
	}
	.members__subtitle{
		font-size: 15px;
	}
	.members__text {
    	padding-bottom: 12px;
	}
	.members__item{
		padding: 15px;
	}
	.member__info-wrap{
		flex: 0 0 100%;
    	max-width: 100%;
    	margin-bottom: 10px;
	}
	.member__user-text{
		padding: 10px 0 0 0;
	}
	.member__info-wrap:nth-child(even) .member__info-item a {
    	margin-left: 0;
	}
	.member__user{
		flex-flow: column wrap;
    	align-items: start;
    	padding-bottom: 20px;
	}
	.member__user-img{
		flex: 0 0 100%;
    	max-width: 200px;
	}
	.member__user-subtitle{
		padding-top: 5px;
	}
	.member__text{
    	line-height: 20px;
    	font-size: 16px;
	}
	.member__skills-item span{
		font-size: 14px;
    	font-weight: 900;
	}
	.portfolio__img{
		flex: 0 0 300px;
	}
	.portfolio__title{
		font-size: 22px;
	}
	.portfolio__description{
		line-height: 20px;
	    padding-top: 10px;
	    font-size: 16px;
	}
	.member__team-img{
		flex: 0 0 70px;
		img{
			width: 70px;
    		height: 65px;
    		border-radius: 18px;
		}
	}
	.member__team-text {
    	padding-left: 12px;
	}
	.member__team-title{
		padding-bottom: 5px;
    	font-size: 16px;
	}
	.member__team-subtitle{
		font-size: 16px;
	}
}
@media screen and (max-width: 767px){
	.members__wrap {
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.agency__main-wrap {
    	padding-left: 12px;
	}
	.agency__sidebar li{
		margin-bottom: 20px;
	}
	.agency__wrapper {
		padding-top: 105px; 
	}
	.members__img{
		padding-bottom: 15px;
	}
	.header-t__navigation li{
		margin-right: 35px;
	}
	.member__user{
		flex-flow: row wrap;
    	align-items: center;
	}
	.member__user-img{
		max-width: 130px;
	}
	.member__user-text {
	    padding: 0 0 0 10px;
	}
	.member__card-wrap{
		flex: 0 0 100%;
    	max-width: 100%;
    	padding-bottom: 10px;
	}
	.member__info-list {
	    display: flex;
	    flex-flow: column wrap;
	}
	.portfolio__wrap{
		flex-flow: column wrap;
	}
	.portfolio__img{
		flex: 0 0 100%;
	    max-width: 400px;
	    padding-top: 10px;
	}
	.portfolio__wrap:nth-child(even) .portfolio__text{
		order: 0;
    	padding: 0;
	}
}
@media screen and (max-width: 479px){
	.agency__sidebar-wrap {
	    flex: 0 0 30px;
	}
	.members__wrap {
	    flex: 0 0 100%;
	    max-width: 100%;
	    padding: 0;
	}
	.agency__sidebar li{
		padding: 5px;
		height: 30px;
	}
	.agency__sidebar li::before {
    	border-radius: 8px;
	}
	.member__card{
		padding: 15px;
	}
	.member__info-item a span{
		margin-left: 8px;
	}
	.member__info-item a img{
		width: 18px;
		height: 18px;
	}
	.member__user{
		flex-flow: column wrap;
    	align-items: center;
    	justify-content: center;
	}
	.member__user-text {
    	padding: 5px 0 0 0;
    	text-align: center;
	}
	.member__skills-wrap {
    	flex: 0 0 33.333%;
    	max-width: 33.333%;
	}
	.header-t__icons a img {
    	width: 24px;
    	height: 24px;
	}
	.portfolio__text{
		padding: 0;
	}
	.header-t__icon:last-child {
    	margin-left: 15px;
	}
}