.career-section {
	height: calc(100vh - 133px);

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__text {
		margin-top: 100px;
	}

	&__img {
		position: absolute;
		bottom: 0;
		margin: 0 auto;
	}
}



// M E D I A
@media screen and (max-width: 991px) {
	.career-section {
		height: calc(100vh - 86px);

		&__text {
			margin-top: 200px;
		}
	}
}


@media screen and (max-width: 767px) {
	.career-section {
		height: 100vh;

		&__text {
			margin-top: 300px;
		}
	}
}

@media screen and (max-width: 525px) {
	.career-section {
		&__inner {
			justify-content: center;
		}

		&__text {
			margin-top: 0;
		}

		&__img {
			display: none;
		}
	}
}