.job {
	display: flex;
	align-items: flex-start;


	&__main {
		@include form-view;
		display: flex;
		flex: 0 0 70%;
		flex-direction: column;
	}

	&__title {
		font-size: 20px;
		line-height: 18px;
		color: $yellow;
	}

	&__field {
		color: $yellow;
	}

	&__location {
		display: flex;
		align-items: center;

		& img {
			transform: translateY(-2px);
		}

		& span {
			line-height: 0;
			margin-left: 10px;
		}
	}

	&__description {
		& p {
			display: inline-block;

			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}

	&__info-part {
		padding-top: 20px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 2.2px;
			background-color: $silver-light;
		}
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
	}

	&__info-item {
		width: 250px;
		display: flex;
		align-items: flex-start;

		& div {
			margin-left: 10px;
			display: flex;
			flex-direction: column;
		}
	}

	&__info-text {
		& span {
			font-size: $fs;
		}
	}

	&__skills-tags {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
	}

	&__skill-tag {
		padding: 3px 11px;
		background-color: $silver-light;
		border-radius: 120px;
		color: $black;
		margin: 10px 0 0 10px;
	}

	&__more-info {
		& div {
			margin-top: 7px;
		}
	}
}



// M E D I A
@media screen and (max-width: 1186px) {
	.job {
		&__info-item {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.job {
		&__main {
			flex: 0 0 65%;
		}
	}
}

@media screen and (max-width: 767px) {
	.job-section {
		padding: 136px 0 50px;
	}

	.job {
		flex-direction: column;

		&__main {
			flex: 0 0 100%;
			margin-bottom: 50px;
		}

		&__actions {
			width: 100%;
			margin: 30px 0 0 0;
		}

		&__save-btn {
			width: 100%;
		}
	}
}