.team {
	display: flex;

	&__info {
		@include form-view;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	&__info-part {
		flex: 0 0 48%;
		max-width: 50%;
	}

	&__member {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__member-img {
		flex: 0 0 140px;
		max-width: 140px;
		height: 100px;
		border-radius: 18px;
		object-fit: cover;
	}

	&__member-info {
		margin-left: 15px;
		flex: 1 0;
	}

	&__member-name {
		font-family: "Audiowide";
		margin-bottom: 10px;
	}

	&__member-level {
		color: #d0c623;
	}

	&__description {
		font-weight: 600;
		line-height: 24px;
	}
}

.portfolio {
	margin-top: 50px;

	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		
		&:not(:last-child) {
			margin-bottom: 50px;	
		}

		&:nth-child(even) {
			.portfolio__item-img {
				order: 0;
			}

			.portfolio__item-info {
				order: 1;
				margin-left: 25px;
				margin-right: 0;
			}
		}
	}

	&__item-info {
		max-width: calc(50% - 25px);
		margin-right: 25px;
	}

	&__item-img {
		width: 50%;

		& img {
			width: 100%;
			border-radius: 32px;	
		}
	}

	&__item-name {
		background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-family: 'Audiowide';
		font-size: 28px;
	}

	&__item-description {
		line-height: 24px;

		a {
			display: block;
			color: #D0C623;
		}
	}

	&__item-technologies {
	    display: flex;
	    flex-flow: row wrap;
	    margin-top: 20px;
	    margin-bottom: 10px;
	}

	&__item-technology {
		margin: 0 10px 10px 0;
		padding: 4px 10px;
		border-radius: 120px;
		color: $black;
		text-align: center;
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
	}
}



// M E D I A
@media screen and (max-width: 991px) {
	.team {
		&__description {
			line-height: 20px;
			font-size: 16px;			
		}

		&__member-img {
			border-radius: 18px;
		}

		&__member-info {
			margin-left: 12px;
		}

		&__member-name {
			margin-bottom: 5px;
			font-size: 16px;
		}

		&__member-level {
			font-size: 16px;
		}
	}

	.portfolio {
		&__item {
			flex-direction: column;

			&:nth-child(even) .portfolio__item-info {
				order: 0;
				margin-left: 0;
			}
		}

		&__item-info {
			width: 100%;
			margin-right: 0;
		}

		&__item-img {
			margin-top: 20px;
			width: 100%;

			& img {
				border-radius: 18px;
			}
		}

		&__title {
			font-size: 22px;
		}

		&__description {
			line-height: 20px;
			margin-top: 10px;
			font-size: 16px;
		}

		&__item-technology {
			span {
				font-size: 14px;
				font-weight: 900;		
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.team {
		&__info-part {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 10px;
		}
	}

	.portfolio {
		&__item {
			flex-flow: column wrap;

			&:nth-child(even) .portfolio__item-info {
				order: 0;
				padding: 0;
			}
		}

		&__item-img img {
			max-width: 100%;
		}

		&__item-info{
			display: contents;
		}
	}
}

@media screen and (max-width: 576px){
	.portfolio{
		&__item{
			padding-right: 30px;

		}
	}
}

@media screen and (max-width: 479px) {
	.team {
		&__info {
			padding: 15px;
		}
	}
}

@media screen and (max-width: 332px) {
	.team {
		&__member-img {
			flex: 0 0 auto;
			max-width: 100%;
			width: 100%;
			margin-bottom: 5px;
		}

		&__member-info {
			text-align: center;
			margin-left: 0;
		}
	}
}