#particles-js {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  opacity: 0.3;
  z-index: -1 !important;
  top: -8px;
  left: 0;
}
* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 5px;
  background: white;
}
*::-webkit-scrollbar-track {
  width: 2px;
  border-radius: 20px;
  background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%) !important;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  height: auto;
  position:relative;
}
a {
  text-decoration: unset;
}
ul,
ol {
  li{
    list-style: none;
  }
}
img{
  max-width: 100%;
}
.burger-wrap, .burger-wrap-t {
  display: none;
  width: 36px;
  height: 27px;
  position: relative;
}

.burger, .burger-t{
  height: 5px;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
  transition: all .3s;
  border-radius: 50px;
}

.burger::before,
.burger::after {
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
  transition: all .3s;
  position: absolute;
  left: 0;
  border-radius: 50px;
}

.burger-t::before,
.burger-t::after {
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
  transition: all .3s;
  position: absolute;
  left: 0;
  border-radius: 50px;
}

.burger::before, .burger-t::before {
  top: 0;
}

.burger:after, .burger-t:after {
  bottom: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container-w {
  max-width: 1330px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.btn-w {
  background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
  border-radius: 120px;
  // max-width: 260px;
  // height: 54px;
  // display: flex;
  // width: 100%;
  // justify-content: center;
  // align-items: center;
  // font-size: 22px;
  color: #2C2626;
  font-family: 'Audiowide';
  transition: all .3s;
  &:hover {
    box-shadow: 0px 0px 24px -4px #DAD01F;
  }
  &--white {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
    &:hover {
      box-shadow: 0px 0px 24px -4px #FFFFFF;
    }
  }
}
.global-title {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Audiowide';
  font-size: 46px;
  text-shadow: 0px 0px 3.5px #FFFFFF;
  text-align: center;
  padding-bottom: 100px;
  span{
    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 0px 3.5px #F8EC20;
  }
}
.first-screen {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/web.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
  }
}
/* -- header-w -- */
.header-w {
  padding: 20px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    img {
      max-width: 80px;
    }
  }
  &__navigation {
    display: flex;
    li {
      margin-right: 65px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-weight: 600;
        font-size: 22px;
        color: #FFFFFF;
        transition: all .3s;
        &:hover {
          color: #F8EC20;
        }
      }
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    a {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__icon-telegram {
    width: 46px;
    height: 46px;
  }
}

/* -- welcome-w -- */
.welcome-w {
  // height: calc(100vh - 133px);
  height: calc(100vh - 116px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  &__wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  &__content {
    display: flex;
  }
  &__text {
    flex: 1 0;
    align-self: flex-start;
    padding-right: 170px;
  }
  &__title {
    font-family: 'Audiowide';
    font-size: 46px;
    padding-bottom: 40px;
    color: #fff;
    text-shadow: 0px 0px 3.5px #FFFFFF;
    span{
      color: #F8EC20;
      text-shadow: 0px 0px 3.5px #F8EC20;
    }
  }
  &__description {
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 40px;
    line-height: 44px;
    color: #fff;
  }
  &__btn {
    display: inline-block;
    padding: 20px 48px;
    font-size: 22px;
  }
  &__img{
    flex: 0 0 450px;
    & img {
      width: 100%;
    }
  }
  &__arrow {
    position: absolute;
    bottom: 20px;
    // left: 50%;
    // margin-left: -136px;
    // right: 50%;
    // margin-right: -136px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 20px;
    transition: all .3s;
    &:hover {
      transform: scale(0.6);
    }
  }
}


/* -- about-us -- */
.about-us-w {
  position: relative;
  padding: 100px 0;
  &::before{
    content: "";
    position: absolute;
    background: url(../img/team.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__img {
    flex: 0 0 500px;
  }
  &__text {
    flex: 1 0;
    padding-left: 115px;
  }
  &__subtitle{
    display: inline-block;
    font-size: 36px;
    font-family: 'Audiowide';
    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 30px;
  }
  &__description {
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 50px;
  }
  &__advantages {
    font-size: 22px;
  }
  &__list {
    font-size: 18px;
    li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 30px;
      display: flex;
      align-items: center;
      &:last-cild {
        margin-bottom: 0;
      }
      &::before {
        position: absolute;
        content: '';
        left: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
      }
    }
  }
}

/* -- services-w -- */
.services-w {
  padding: 100px 0;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../img/web.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 50%;
    column-gap: 20px;
    // flex-direction: column;
    // row-gap: 10px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &--right {
      text-align: right;
      padding-right: 0;
      padding-left: 50%;
      .services-w__img {
        order: 1;
      }
      .services-w__text {
        // padding:0 30px 0 0;
      }
      .services-w__description {
        margin-left: auto;
      }
      .services-w__btn {
        margin-left: auto;
      }
    }
  }
  &__img{
    // flex: 0 0 80px;
    width: 140px;
    height: 140px;
  }
  &__text{
    flex: 1 0;
    display: flex;
    flex-direction: column;
    // row-gap: 10px;
    // padding-left: 30px;
  }
  &__subtitle{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Audiowide';
    font-size: 36px;
    margin-bottom: 10px;
  }
  &__description{
    max-width: 920px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__btn {
    display: inline-block;
    width: 118px;
    padding: 4px 36px;
    font-size: 18px;
  }
}

/* -- tab -- */
.how-work-w{
  padding: 100px 0;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background: linear-gradient(103deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
  }
  &::after{
    content: "";
    position: absolute;
    background: url(../img/web.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.tab {
  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding-bottom: 50px;
    .btn-w {
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 24px -4px #FFFFFF;
      }
      span {
        height: 24px;
        margin-right: 15px;
        display: flex;
        align-items: center;
      }
    }
    .active{
      background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%) !important;
      box-shadow: 0px 0px 24px -4px #DAD01F;
      &:hover{
        box-shadow: unset;
      }
    }
  }
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; /* prev - center */
  }
  &__text {
    flex: 1 0;
    padding-right: 115px;
  }
  &__img {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 500px;
  }
  &__subtitle {
    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Audiowide';
    font-size: 36px;
    padding-bottom: 30px;
  }
  &__description {
    // font-size: 26px;
    font-size: 18px;
    // line-height: 44px;
    line-height: 32px;
  }
  &__links {
    padding-top: 10px;
    font-size: 18px;
    // font-size: 26px;
    line-height: 32px;
    display: flex;  
    flex-direction: column;
    a { 
      color: rgba(248, 236, 32, 0.8); 
      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}

/* -- technologies-w -- */
.technologies-w{
  position: relative;
  padding: 100px 0 70px 0;
  &::before{
    content: "";
    position: absolute;
    background: url(../img/techno.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &__wrap{
    flex: 0 0 33.333%;
    max-width: 33.333%;
    margin-bottom: 40px;
    display: flex; 
    padding: 0 30px;
    &--first{
      flex: 0 0 100%;
      max-width: 100%;
    }
    &-item{
      max-width: 100%;
      margin: 0 auto;
      padding: 25px 30px;
      box-sizing: border-box;
      position: relative;
      z-index: 0;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(77, 81, 60, 0.7);
        filter: blur(2px);
        border-radius: 32px;
        z-index: -1;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__subtitle {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Audiowide';
    font-size: 24px;
    padding: 10px 0;
  }
  &__description {
    line-height: 24px;
  }
} 



/*-- contact-w --*/
.contact-w{
  padding: 100px 0;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background: linear-gradient(103deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
  }
  &::after{
    content: "";
    position: absolute;
    background: url(../img/web.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__list{
    max-width: 710px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__input{
    max-width: 300px;
    width: 100%;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(77, 81, 60, 0.7);
      filter: blur(2px);
      border-radius: 32px;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    input{
      width: 100%;
      padding: 20px 20px 20px 56px;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-family: 'Audiowide';
      box-sizing: border-box;
      outline: none;
      border: none;
      font-size: 22px;
      &::placeholder{
        font-family: 'Audiowide';
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 22px;
      }
    }
    img {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      max-width: 24px;
      height: 24px;
    }
  }
  &__textarea {
    max-width: 710px;
    margin: 0 auto;
    height: 250px;
    position: relative;
    margin-top: 20px;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(77, 81, 60, 0.7);
      filter: blur(2px);
      border-radius: 32px;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    textarea {
      width: 100%;
      padding: 20px 20px 20px 56px;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-family: 'Audiowide';
      box-sizing: border-box;
      outline: none;
      border: none;
      height: 90%;
      font-size: 22px;
      resize: none;
      &::placeholder{
        font-family: 'Audiowide';
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.87) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 22px;
      }
    }
    img{
      position: absolute;
      left: 20px;
      top: 23px;
      max-width: 24px;
      height: 24px;
    }
  }
  &__btn{
    padding-top: 35px;
    button {
      margin: 0 auto;
      border: none;
      cursor: pointer;
    }
  }
}
/*-- footer --*/
.footer {
  padding: 25px 0;
  position: relative;
  margin-bottom: -10px;
  &::before{
    content: "";
    position: absolute;
        background: linear-gradient(127deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
  }
  &__wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: 15px;
    &::after {
      content: '';
      position: absolute;
      background-color: rgba(248, 236, 32, 0.8);
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0px;
    }
  }
  &__menu-list {
    display: flex;
    flex-direction: column;
  }
  &__menu-item {
    margin-bottom: 4px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__menu-link {
    font-size: 16px;
    color: #fff;
    transition: all .3s;
    &:hover{
      color: rgba(248, 236, 32, 0.8);
    }
  }
  &__logo{
    max-width: 50px;
    margin-bottom: 20px;
    &-link {
      display: block;
    }
  }
  &__icons {
    display: flex;
  }
  &__contact{
    a{
      margin: 0 10px;
    }
  }
  &__data{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
}
.title-link {
  font-size: 20px;
  color: rgba(248, 236, 32, 0.8);
  font-weight: 400;
  // background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: rgba(0,0,0,0);
}

// jobs page
.jobs {
  padding-bottom: 20px;
  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 30px;
    background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.468) -22.15%, rgba(23, 32, 49, 0.516) 86.36%);
    backdrop-filter: blur(15px);
    border-radius: 30px; 
  }
  &__filter {
    min-width: 273px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &-title {
      font-weight: 400;
      font-size: 22px;
      line-height: 18px;
      color: #F8EC20;
    }
    &-rate {
      padding: 10px 20px;
      color: #FFFFFF;
      background: inherit;
      border: 1px solid #E2E2DA;
      border-radius: 8px;
      font-size: 18px;
      line-height: 18px;
    }
    &-rate::-webkit-outer-spin-button,
    &-rate::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &-dropdown {
      border: 1px solid #E2E2DA;
      border-radius: 8px;
      position: relative;
      user-select: none;
    }
    &-dropdown::after {
      content: url('/waw/img/jobs/arrow-bottom.svg');
      position: absolute;
      top: 11px;
      right: 15px;
      height: 14px;
      transition: all 0.2s ease-out;
    }
    &-dropdown.is-active::after {
      transform: rotate(180deg);
    }
    &-dropdown span {
      display: block;
      padding: 10px 20px;
      font-size: 18px;
      line-height: 18px;
    }
    &-list {
      display: none;
    }
    &-item {
      display: block;
      padding: 10px 20px;
      border-top: 1px solid #E2E2DA;
      font-size: 16px;
      line-height: 16px;
    }
    &-item label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-apply {
      background: inherit;
      border: 1px solid #F8EC20;
      color: #F8EC20;
      border-radius: 8px;
      padding: 10px 0px;
      cursor: pointer;
      font-size: 18px;
      line-height: 18px;
    }
  }
  &__search {
    max-width: 930px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &-bar {
      position: relative;
      display: flex;
    }
    &-bar img {
      position: absolute;
      right: 20px;
      top: 10px;
      width: 24px;
      cursor: pointer;
    }
    &-bar input {
      width: 100%;
      padding: 10px 68px 10px 20px;
      border: 1px solid #E2E2DA;
      border-radius: 8px;
      background: inherit;
      color: #FFFFFF;
    }
    &-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-found {
      display: flex;
      column-gap: 5px;
      align-items: center;
    }
    &-found span {
      line-height: 18px;
    }
    &-found img {
      width: 22px;
      height: 28px;
    }
    &-sort {
      display: flex;
      align-items: center;
      position: relative;
      column-gap: 10px;
    }
    &-select {
      position: relative;
      user-select: none;
      display: flex;
      flex-direction: column;
      border: 1px solid #e2e2da;
      border-radius: 8px;
      width: 155px;
    }
    &-trigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      height: 40px;
      line-height: 18px;
      cursor: pointer;
    }
    &-arrow {
      position: absolute;
      top: 13px;
      right: 20px;
    }
    &-options {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid #e2e2da;
      border-radius: 8px;
      background-color: #232524;
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 2;
    }
    &-select.open &-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    &-option {
      height: 40px;
      position: relative;
      display: block;
      border-top: 1px solid #e2e2da;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s;
    }
    &-option:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &-option:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &-option:hover {
      cursor: pointer;
      background-color: #b2b2b2;
    }
    &-option.selected {
      color: #fff;
      background-color: #305c91;
    }
    &-items {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 20px 15px;
      border: 1px solid #E2E2DA;
      border-radius: 8px;
    }
    &-title {
      font-size: 18px;
      line-height: 18px;
      color: #F8EC20;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
    &-location {
      display: flex;
      column-gap: 5px;
      align-items: flex-end; 
    }
    &-location span {
      font-size: 18px;
      line-height: 10px;
    }
    &-proposal {
      padding: 6px 10px;
      background: inherit;
      border: 1px solid #F8EC20;
      border-radius: 8px;
      color: #F8EC20;
      cursor: pointer;
    }
    &-pagination {
      display: flex;
      justify-content: center;
    }
    &-pagination ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    &-pagination li {
      padding: 0 10px;
    }
    &-pagination a {
      color: #fff;
    }
    &-pagination a:hover {
      color: #F8EC20;
    }
  }
}

// proposal page
.proposal {
  padding-bottom: 20px;
  &__form {
    max-width: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.468) -22.15%, rgba(23, 32, 49, 0.516) 86.36%);
    backdrop-filter: blur(7.5px);
    border-radius: 30px;
    padding: 30px;
  }
  &__heading {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #F8EC20;
  }
  &__name {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
    width: 100%;
    & input {
      max-width: 270px; 
    }
  }
  & input {
    background-color: transparent;
    border: none;
    border: 1px solid #E2E2DA;
    border-radius: 8px;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
  }
  &__cover-letter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    border: 1px solid #E2E2DA;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px 20px;
    resize: none;
    color: #fff;
  }
  &__title {
    color: #F8EC20;
    line-height: 18px;
  }
  &__skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    & span {
      align-self: center;
    }
  }
  &__tools {
    width: 100%;
    display: flex;
    flex-direction: column;
    & span {
      align-self: center;
    }
  }
  &__btn {
    background-color: transparent;
    border: 1px solid #F8EC20;
    border-radius: 8px;
    color: #F8EC20;
    width: 100%;
    padding: 10px 0px;
  }
  &__select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #E2E2DA;
    border-radius: 8px; 
  }
}
// proposal selects
.multi-select-container {
  position: relative;
}
.multi-select-button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  border: 1px solid #e2e2da;
  border-radius: 8px;
  padding: 10px 20px;
  color: #fff;
  user-select: none;
}
.multi-select-button:after {
  position: absolute;
  right: 20px;
  top: 18px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0 0.4em;
  border-color: #999 transparent transparent transparent;
  margin-left: 0.4em;
  vertical-align: 0.1em;
}
.multi-select-menu {
  z-index: 1;
  float: left;
  min-width: 100%;
  background-color: transparent;
  margin: 1em 0;
  border: 1px solid #e2e2da;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: none;
}
.multi-select-menuitem {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.multi-select-menuitem input {
  display: inline;
  max-width: 13px;
  order: 2;
}
.multi-select-menuitem + .multi-select-menuitem {
  border-top: 1px solid #e2e2da;
}
.multi-select-menuitems {
  border-radius: 8px;
}
.multi-select-menuitem--titled:before {
  display: block;
  font-weight: bold;
  content: attr(data-group-title);
  margin: 0 0 0.25em -20px;
}
.multi-select-menuitem--titledsr:before {
  display: block;
  font-weight: bold;
  content: attr(data-group-title);
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.multi-select-presets {
  border-bottom: 1px solid #ddd;
}
.multi-select-container--open .multi-select-menu {
  display: block;
  border-radius: 8px;
}
.multi-select-container--open .multi-select-button:after {
  border-width: 0 0.4em 0.4em 0.4em;
  border-color: transparent transparent #999 transparent;
}
.multi-select-container--positioned .multi-select-menu {
  /* Avoid border/padding on menu messing with JavaScript width calculation */
  box-sizing: border-box;
}
.multi-select-container--positioned .multi-select-menu label {
  /* Allow labels to line wrap when menu is artificially narrowed */
  white-space: normal;
}



// startup
.startup {
  &__inner {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    display: flex;
    align-self: center;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }
  &__main-img {
    border-radius: 32px;
    border: 2px solid #F8EC20; // #E2E2DA
    margin-bottom: 30px;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__img {
    border-radius: 32px;
    border: 2px solid #F8EC20;
  }
  &__text {
    display: flex;
    column-gap: 50px;
  }
  &__text span {
    color: #F8EC20;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }
  &__description {
    & span {
      display: inline-block;
      margin-bottom: 15px;
    }
  }
  &__features {
    min-width: 220px;
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
    & span {
      display: inline-block;
      margin-bottom: 15px;
    }
  }
  &__feature {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    &-dot {
      position: relative;
      flex: 0 0 22px;
      height: 22px;
      max-width: 22px;
      border-radius: 50%;
      background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(83.51deg, #232524 -22.15%, rgba(21, 27, 39, 0.84) 86.36%);
        border-radius: 50%;
      }
    }
    &-text {
      white-space: nowrap;
    }
  }
  &__comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
  }
  &__comment {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 15px 30px 25px 30px;
    &-title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 14px;
    }
    &-title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background: #E2E2DA;
    }
    &-feedback {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 50px;
      row-gap: 10px;
    }
    &-respond {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    &-more {
      display: flex;
      justify-content: center;
    }
  }
}

// ceo
.career {
  &-welcome {
    padding-top: 0px !important;
  }
  &__inner {
    display: flex;
    column-gap: 50px;
    font-size: 22px;
    line-height: 24px;
    padding-top: 50px;
  }
  &__sidebar {
    min-width: 340px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__author {
    &-img {
      max-height: 332px;
      object-fit: cover;
      border-radius: 18px;
      border: 2px solid #F8EC20;
    }
    &-name {
      display: inline-block;
      margin-bottom: 4px;
      color: #F8EC20;
      font-size: 22px;
    }
    &-team,
    &-expirience {
      display: flex;
      flex-direction: column;
    }
    &-team.team-title {
      font-size: 22px;
      color: #F8EC20;
    }
    &-expirience.expirience-title {
      font-size: 22px;
      color: #F8EC20; 
    }
    &-description li {
      margin-bottom: 4px;
    }
    &-link {
      font-size: 18px;
      color: #fff;
      transition: all .3s;
      &:hover{
        color: rgba(248, 236, 32, 0.8);
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &__intro span {
    display: inline-block;
    margin-bottom: 20px;
    color: #F8EC20;
  }
  &__paths {
    &-intro {
      display: inline-block;
      margin-bottom: 20px;
      color: #F8EC20;
    }
  }
  &__paths span {
    color: #F8EC20;
  }
  &__paths ul li {
    margin-bottom: 20px;
  }
  &__paths ul li:last-child {
    margin-bottom: 0px;
  }
  &__join-agency {
    & span {
      display: inline-block;
      margin-bottom: 10px;
      color: #F8EC20;
    }
    & ul li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 10px; 
    }
    & ul li:last-child {
      margin-bottom: 0;
    }
    & ul li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 15px;
      height: 3px;
      background-color: #F8EC20;
    }
  }
  &__intership {
    & span {
      display: inline-block;
      margin-bottom: 10px;
      color: #F8EC20;
    }
    & ul li {
      position: relative;
      padding-left: 25px;
      margin-bottom: 10px; 
    }
    & ul li:last-child {
      margin-bottom: 0;
    }
    & ul li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 15px;
      height: 3px;
      background-color: #F8EC20;
    }
  }
  &__agency {
    & span {
      display: inline-block;
      margin-bottom: 10px;
      color: #F8EC20;
    }
    & ul li {
      position: relative;
      padding-left: 25px;
    }
    & ul li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 15px;
      height: 3px;
      background-color: #F8EC20;
    }
  }
  &__btn {
    padding-bottom: 0px !important;
  }
}

// skill
.skill {
  padding: 0 0 100px 0;
  min-height: calc(100vh - 133px);
  font-size: 16px;
  &__inner {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    background-clip: text;
    text-fill-color: rgba(0,0,0,0);
    text-shadow: 0px 0px 3.5px #f8ec20;
    margin-bottom: 30px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
  }
  &__articles {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  &__article {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.468) -22.15%, rgba(23, 32, 49, 0.516) 86.36%);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 6px;
      border-bottom: 4px solid #E2E2DA;
      margin-bottom: 15px;
    }
    &-title {
      font-size: 20px;
      line-height: 18px;
      background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0,0,0,0);
      background-clip: text;
      text-fill-color: rgba(0,0,0,0);
      text-shadow: 0px 0px 3.5px #f8ec20;
      margin-bottom: 15px;
    }
    &-description {
      margin-bottom: 15px;
    }
    &-star {
      cursor: pointer;
    }
  }
  &__side {
    width: 550px;
  }
  &__video {
    margin-bottom: 30px;
    &-player {
      width: 100%;
      border-radius: 30px;
      margin-bottom: 10px;  
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.468) -22.15%, rgba(23, 32, 49, 0.516) 86.36%);
    backdrop-filter: blur(15px);
    &-title {
      text-align: center;
      background: linear-gradient(180deg, #F8EC20 0%, #A79F1E 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0,0,0,0);
      background-clip: text;
      text-fill-color: rgba(0,0,0,0);
      text-shadow: 0px 0px 3.5px #f8ec20;
      // margin-bottom: 20px;
    }
    &-sort {
      display: flex;
      align-items: center;
      position: relative;
      column-gap: 10px;
    }
    &-select {
      position: relative;
      user-select: none;
      display: flex;
      flex-direction: column;
      border: 1px solid #e2e2da;
      border-radius: 8px;
      width: 100%;
      height: 40.40px;
      background: transparent;
      // color: rgb(112,112,113);
      color: #fff;
      // & placeholder {
      //   color: #fff;
      // }
    }
    &-trigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      height: 40px;
      line-height: 18px;
      cursor: pointer;
    }
    &-arrow {
      position: absolute;
      top: 13px;
      right: 20px;
    }
    &-options {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid #e2e2da;
      border-radius: 8px;
      background-color: #232524;
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 2;
    }
    &-select.open &-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    &-option {
      height: 40px;
      position: relative;
      display: block;
      border-top: 1px solid #e2e2da;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      transition: all 0.5s;
    }
    &-option:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &-option:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &-option:hover {
      cursor: pointer;
      background-color: #b2b2b2;
    }
    &-option.selected {
      color: #fff;
      background-color: #305c91;
    }
    & input,
    textarea {
      color: #fff;
      border: 1px solid #E2E2DA;
      padding: 10px 20px;
      border-radius: 8px;
      background-color: transparent;
    }
    &-name {
      display: flex;
      justify-content: space-between;
      & input {
        width: 235px;
      }
    }
    &-btn {
      background-color: transparent;
      border: 1px solid #F8EC20;
      border-radius: 8px;
      padding: 10px 0;
      color: #F8EC20;
    }
    &-description {
      resize: none;
    }
  }
}

// scrollbar styles
::-webkit-scrollbar {
  width: 5px;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(83.51deg, rgba(35, 37, 36, 0.624) -22.15%, rgba(23, 32, 49, 0.688) 86.36%) !important;
}
::-webkit-scrollbar-thumb {
  background: #D1C71F !important;
  border-radius: 5px;
}


// M E D I A
@media screen and (max-width: 1399px) {
  .header-w {
    padding: 30px 0 50px 0;
  }

  .welcome-w {
    // height: calc(100vh - 173px);
    height: calc(100vh - 156px);
    &__description {
      // padding-bottom: 35px;
    }
    &__img {
      flex: 0 0 370px;
    }
    &__text {
      padding-right: 120px;
    }
    &__arrow {
      max-width: 80px;  
    }
  }

  .services-w {
    &__wrap {
      padding-right: 40%;
    }
    &__wrap--right {
      padding-right: 0;
      padding-left: 40%;
    }
  }


}
@media screen and (max-width: 1299px) {
  .startup {
    &__images {
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
  }
  .skill {
    &__form {
      &-name {
        flex-wrap: wrap;
        & input {
          width: 100%;
        }
      }
      &-first {
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .header-w {
    &__navigation li {
      margin-right: 30px;
    }
  }

  .welcome-w {
    &__description {
      // font-size: 22px;
      // line-height: 35px;
    }
    &__title {
      padding-bottom: 20px;
    }
  }

  .about-us-w {
    &__text {
      padding-left: 30px;
    }
    &__img {
      flex: 0 0 490px;  
    }
    &__list li {
      align-items: flex-start;
    }
  }

  .tab {
    &__list li {
      font-size: 20px;
      max-width: 230px;
    }
    &__img {
      flex: 0 0 400px;
    }
  }

  .skill {
    // &__content {
    //   flex-direction: column;
    // }
    &__articles {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 991px) {
  .header-w {
    &__logo img {
      max-width: 45px;
    }
    &__mavigation li {
      margin-right: 25px;
    }
    &__navigation li a {
      font-size: 17px;
    }
    &__icons a {
      margin-right: 25px;
      max-width: 35px;  
    }
  }

  .welcome-w {
    height: calc(100vh - 132px);
    &__wrap {
      height: 100%;
      justify-content: space-evenly;
      flex-flow: column wrap;
    }
    &__content {
      height: 100%;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 26px;
      padding-bottom: 20px;
    }
    &__text {
      flex-grow: 0;
      max-width: 600px;
      padding-right: 30px;
      text-align: center;
    }
    &__description {
      font-size: 18px;
      line-height: 30px;
    }
    &__img {
      flex: 0 0 230px;
      & img {
        max-width: 220px;
      }
    }
    &__arrow {
      display: none;
    }
  }

  .btn-w {
    max-width: 240px;
    height: 55px;
    font-size: 20px;
  }

  .about-us-w {
    padding: 70px 0;
    &__description {
      font-size: 18px;
      line-height: 23px;
      font-weight: 500;
    }
    &__list {
      &-icon {
        flex: 0 0 10px;
        height: 10px;
      }  
    }
    &__img {
      flex: 0 0 350px;  
    }
    &__subtitle {
      font-size: 24px;
      padding-bottom: 20px;
    }
  }



  .global-title{
    font-size: 30px;
    padding-bottom: 35px;
  }

  .services-w {
    padding:70px 0;
    &__wrap {
      padding-right: 30%;
    }
    &__wrap--right {
      padding-right: 0;
      padding-left: 30%;
    }
    &__img {
      flex: 0 0 65px;
    }
    &__subtitle {
      font-size: 22px;  
    }
  }

  .tab {
    &__list li {
      font-size: 18px;
      max-width: 190px;
    }
    &__subtitle {
      font-size: 24px;
      padding-bottom: 20px;
    }
    &__description {
      font-size: 18px;
      line-height: 27px;
      font-weight: 500;    
    }
    &__img {
      flex: 0 0 330px;
    }
    &__text {
      padding-right: 45px;
    }
  }

  .tab__list .btn-w span{
    margin-right: 10px;
    img{
      max-width: 20px;
      height: 20px;
    }
  }

  .how-work-w {
    padding: 70px 0;
  }
  
  .technologies-w {
    padding: 70px 0;
    &__wrap {
      flex: 0 0 50%;
      max-width: 50%;  
    }
    &__wrap--first {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .contact-w{
    padding: 70px 0;
  }

  .footer {
    &__wrap {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    &__menu-list {
      align-items: center;
      margin-bottom: 20px;
    }
  }

  //jobs page
  .jobs {
    &__inner {
      flex-wrap: wrap;
      row-gap: 40px;
    }
    &__filter {
      width: 100%;
    }
  }

  // startup
  .startup {
    &__title {
      margin-bottom: 0;
      font-size: 28px;
    }
    &__description span,
    &__features span {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}
@media screen and (max-width: 893px) {
  .startup {
    &__images {
      display: none;
    }
  }
  .career {
    &__inner {
      flex-direction: column;

    }
    &__author {
      &-img {
        width: 340px;
        align-self: center;
        margin-bottom: 50px; 
      }
      &-about,
      &-team,
      &-expirience {
        display: none;
      }
    }
  }
  .skill {
    &__content {
      flex-direction: column;
    }
    &__side {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .header-w {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background: #32363bc4;
    z-index: 999;
    top: 0;
  }
  .menu-navigation {
    position: relative;
    display: block;
    max-height: unset;
    width: unset;
    opacity: 1;
    border: none;
    margin: unset;
  }
  .burger-wrap {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    left: 15px;
    transform: translateY(-50%);
    top: 50%;
  }
  .burger-wrap-t {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    left: 15px;
    transform: translateY(-50%);
    top: 50%;
  }

  .header-t {
    &__icons {
      margin-left: auto;  
    }
    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);  
    }
  }

  .burger--close {
    max-width: 0;
    overflow: hidden;
  }
  .burger-t--close {
    max-width: 0;
    overflow: hidden;
  }
  .burger--close::before {
    transform: translateY(-1px) rotate(45deg);
  }
  .burger--close::after {
      transform: translateY(3px) rotate(-45deg);
  }
  .burger-t--close::before {
    transform: translateY(-1px) rotate(45deg);
  }
  .burger-t--close::after {
    transform: translateY(3px) rotate(-45deg);
  }
  .burger--close::after,
  .burger--close::before {
    transform-origin: 0;
  }
  .burger-t--close::after,
  .burger-t--close::before {
    transform-origin: 0;
  }
  .header-w__navigation, .header-t__navigation {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: #32363d;
    z-index: 3;
    padding: 0;
    opacity: 0;
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
    border-bottom: 1px solid black;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .header-w__navigation li, .header-t__navigation li{
    margin: 0 0 15px 0 !important;
    &:last-child{
      margin: 0 !important;
    }
  }
  .header-w__navigation, .header-t__navigation {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .header-w__navigation--open, .header-t__navigation--open {
    max-height: 500px;
    opacity: 1;
    padding: 15px 0;
  }
  .header-w__wrap{
    justify-content: flex-end;
  }
  .header-w__logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .welcome-w,
  .jobs,
  .proposal,
  .startup,
  .store__inner,
  .career-welcome,
  .skill__inner
  {
    padding-top: 105px !important;
  }

  .welcome-w {
    height: 100vh;
    &__wrap {
      flex-flow: column wrap;
    }
    &__text {
      padding:0;
      text-align: center;  
    }
    &__img {
      max-width: 250px;  
    }
    &__btn {
      display: none;
    }
    &__arrow {
      display: none;
    }
  }

  .services-w {
    &__wrap {
      padding-right: 0%;
    }
    &__wrap--right {
      padding-left: 0%;
    }
  }

  .about-us-w {
    &__wrap {
      flex-flow: column wrap;
    }
    &__img {
      max-width: 400px;
      flex: 0 0 100%;  
    }
    &__text {
      padding: 0;
      padding-top: 35px;
    }
    &__list {
      &-text {
        max-width: fit-content;
        text-align: left;
      }
    }
    &__subtitle {
      font-size: 22px;  
    }
  }

  .tab {
    &__list {
      flex-flow: row wrap;
      justify-content: center;
      gap: 20px;
      padding-bottom: 50px;
      & li {
        margin: 5px;  
      }  
    }
    &__wrap {
      flex-flow: column wrap;  
    }
    &__text {
      padding: 0;  
    }
    &__img {
      max-width: 400px;
      padding-top: 20px;
    }
  }

  .technologies-w {
    &__wrap {
      flex: 0 0 100%;
      max-width: 100%;  
    }
  }

  .contact-w {
    &__list {
      flex-flow: column wrap;
      align-items: center;
    }
    &__input {
      max-width: 450px;
      &:last-child{
        margin-bottom: 0;
      }
      &-name {
        margin-bottom: 20px;
      }
    }
    &__textarea {
      max-width: 450px;
      height: 150px;  
    }
  }

  // startup page
  .startup {
    &__inner {
      padding-top: 0;
    }
    &__text {
      flex-wrap: wrap;
      row-gap: 50px;
    }
  }

  // skill page
  // .skill {
  //   &__title {
  //     font-size: ;
  //   }
  // }
}
@media screen and (max-width: 660px) {
  .proposal {
    &__name {
      row-gap: 30px;
    }
    &__name input {
      max-width: 100%;
    }
  }

  .startup {
    &__title {
      font-size: 24px;
      line-height: 28px;
    }
    &__description span,
    &__features span {
      text-transform: lowercase;
    }
    &__feature-text {
      text-transform: lowercase; 
    }
  }

  .services-w {
    &__wrap {
      flex-direction: column;
    }
    &__wrap--right &__img {
      order: 0;
    }
    &__img {
      margin-bottom: 10px;
    }
    &__text {
      text-align: center;
    }
    &__btn a {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 525px){
  .jobs {
    &__search {
      &-total {
        flex-wrap: wrap;
        row-gap: 20px;
      }
      &-sort {
        order: 1;
        width: 100%;
      }
      &-tip {
        display: none;
      }
      &-found {
        order: 2;
      }
      &-select {
        width: 100%;
      }
      &-bottom {
        flex-wrap: wrap;
        row-gap: 10px;
      }
      &-proposal {
        width: 100%;
      }
    }
    &__filter {
      min-width: auto;
    }
  }

  .career {
    &__inner {
      padding-top: 20px;
    }
    &__sidebar {
      min-width: auto;
    }
    &__author {
      &-img {
        width: auto;
        margin-bottom: 20px;
      }
    }
  }

  .about-us-w {
    &__list {
      & li {
        align-items: flex-start;
      }
    }
  }

  .tab__list,
  .about-us-w__description {
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 479px){
  .header-w {
    padding: 15px 0;
    &__icons {
      & a {
        margin-right: 12px;
        max-width: 22px;    
      }
    }
    &__logo {
      & img {
        max-width: 35px;    
      }
    }
  }

  .burger {
    height: 4px;
  }
  .burger::before, .burger::after {
    height: 4px;
  }
  .burger::before {
    top: 1px;
  }
  .burger:after {
    bottom: 2px;
  }

  .about-us-w, 
  .services-w {
    padding: 40px 0;
  }

  .services-w {
    &__img {
      flex: 0 0 40px;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__description {
      line-height: 22px;
      font-size: 16px;  
    }
  }

  .tab {
    &__list {
      & li {
        font-size: 16px;
        max-width: 135px;    
      }
    }
    &__img {
      flex: 0 0 100%;
    }
  }
  .tab__list .btn-w span img {
    max-width: 16px;
    height: 16px;
  }
  .tab__list .btn-w span {
    margin-right: 5px;
  }

  .technologies-w {
    padding: 70px 0 0 0;
    &__wrap {
      text-align: center;
      &-item {
        padding: 20px 15px;    
      }  
    }
    &__subtitle {
      text-align: 20px;  
    }
    &__description {
      line-height: 24px;  
    }
  }

  .contact-w {
    &__input {
      & input {
        font-size: 16px;
        &::placeholder{
          font-size: 16px;
        }  
      }
    }
    &__textarea {
      & textarea {
        font-size: 16px;
        &::placeholder {
          font-size: 16px;
        }    
      }
    }
  }
}