<div class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__logo">
				<a href="#" class="footer__logo-link">
					<img src="/waw/img/spider-logo-v2.svg" alt="logo">
				</a>
			</div>
			<!-- <ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link footer__menu-link--title" href="/services">Services</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://wawjs.wiki/">Framework</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://wawjs.wiki/registry">Registry</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/agency">Agency</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/projects">Project manager</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/academy">Academy</a>
				</li>
			</ul> -->
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link footer__menu-link--title" href="/managers">Managers</a>
					<!-- <a class="footer__menu-link footer__menu-link--title" href="/managers">Managers</a> -->
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/63b9245ff9e925059d9ef676">Honchar Denys</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/647467580b9f4f56d78f358d">Dmytro Maksiuta</a>
				</li>
			</ul>
			<!-- <ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link footer__menu-link--title" href="/school">School</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/career">Career</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/roles">Roles</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/library">Library</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/glossary">Glossary</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/courses">Courses</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/workflows">Workflows</a>
				</li>
			</ul> -->

			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<!-- <a class="footer__menu-link footer__menu-link--title" href="/startups">Startups</a> -->
					<a class="footer__menu-link footer__menu-link--title">Startups</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://waiter.cloud" target="_blank">Waiter</a>
					<p>Smart solutions for modern eatery</p>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://carby.world" target="_blank">Car</a>
					<p>Innovative approaches for the modern automotive industry</p>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://neryxomka.com" target="_blank">Neryxomka</a>
					<p>Cutting-edge strategies for the modern real estate industry</p>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://wawify.com" target="_blank">Wawify</a>
					<p>Trendsetting solutions for the fashion and accessories industry</p>
				</li>
			</ul>

			<div class="footer__upwork">
				<a href="https://www.upwork.com/ag/webartwork" target="_blank" class="footer__upwork">
					<img src="/waw/img/upwork.svg" alt="">
				</a>
			</div>
		</div>
		<div class="footer__data">
			© 2014 - {{{ nowYear || 2024 }}} Web Art Work
		</div>
	</div>
</div>
