<div class="footer">
	<div class="container-w">
		<div class="footer__wrap">
			<div class="footer__logo">
				<a href="" class="footer__logo-link">
					<img src="/waw/img/spider.svg" alt="">
				</a>
			</div>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link title-link" href="/services">Services</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://wawjs.wiki/">Framework</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://wawjs.wiki/registry">Registry</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/agency">Agency</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/projects">Project manager</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/academy">Academy</a>
				</li>
			</ul>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link title-link" href="/teams">Teams</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/team/60eec97e82a37502e2c03265">Cybers</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/team/60fee2b8a6aaa3639d84f8a7">Boys team</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/team/62ed02f9c70056134b0517ec">Lordik team</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/team/62ed0302c70056134b0517ed">Ivan team</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/team/62ed0319c70056134b0517ee">Lytvyniuk team</a>
				</li>
			</ul>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link title-link" href="/managers">Managers</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/60ed806628f717702fcbc36f">Dmytro Maksiuta</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/5eccc22117f9ce09dee15c37">Honchar Denys</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/60edc622010d3e785d10ebe2">Dima</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/62c68eb014842716db5200e1">Ivan Balias</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/60ed7accddb4ac6eac92572d">Valintin Maystrenko</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/m/60fee277a6aaa3639d84f8a6">Oleksandr Fedorak</a>
				</li>
			</ul>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link title-link" href="/school">School</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/career">Career</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/roles">Roles</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/library">Library</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/glossary">Glossary</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/courses">Courses</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="/workflows">Workflows</a>
				</li>
			</ul>
			<ul class="footer__menu-list">
				<li class="footer__menu-item">
					<a class="footer__menu-link title-link" href="/startups">Startups</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://waiter.cloud/">Waiter</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://car.webart.work/">Car</a>
				</li>
				<li class="footer__menu-item">
					<a class="footer__menu-link" href="https://neryxomka.com/">Realestate</a>
				</li>
			</ul>
			<div class="footer__upwork">
				<a href="https://www.upwork.com/ag/webartwork" target="_blank" class="footer__upwork">
					<img src="/waw/img/upwork.svg" alt="">
				</a>
			</div>
		</div>
		<div class="footer__data">
			© 2014 - {{{ nowYear || 2022 }}} Web Art Work
		</div>
	</div>
</div>
