<div class="footer">
	<div class="container-w">
		<div class="footer__wrap">
			<div class="footer__wrap-item footer__wrap-item--links">
				<a href="https://webart.work/">General</a>
				<a href="https://wawjs.wiki/">Framework</a>
				<a href="https://wawjs.wiki/registry">Registry</a>
				<a href="https://webart.work/agency">Agency</a>
				<a href="https://webart.work/projects">Project manager</a>
				<a href="https://webart.work/academy">Academy</a>
				<a href="https://webart.work/school">School</a>
				<a href="https://webart.work/shop">Shop</a>
				<a href="https://webart.work/startups">Startups</a>
				<a href="https://webart.work/teams">Teams</a>
				<a href="https://webart.work/developers">Developers</a>
				<a href="https://webart.work/designers">Designers</a>
				<a href="https://webart.work/agents">Agents</a>
				<a href="https://webart.work/managers">Managers</a>
				<a href="https://webart.work/team/60eec97e82a37502e2c03265">Cybers</a>
				<a href="https://webart.work/team/60fee2b8a6aaa3639d84f8a7">Boys team</a>
				<a href="https://webart.work/team/62ed02f9c70056134b0517ec">Lordik team</a>
				<a href="https://webart.work/team/62ed0302c70056134b0517ed">Ivan team</a>
				<a href="https://webart.work/team/62ed0319c70056134b0517ee">Lytvyniuk team</a>
			</div>
			<div class="footer__wrap-item footer__wrap-item--logo">
				<a href="" class="footer__logo">
					<img src="/waw/img/spider.svg" alt="">
				</a>
			</div>
			<div class="footer__wrap-item footer__wrap-item--icons">
				<div class="footer__contact">
					<a href="https://t.me/webartwork">
						<img src="/waw/img/icons/telegram.svg" alt="">
					</a>
				</div>
				<a href="https://www.upwork.com/ag/webartwork" target="_blank" class="footer__upwork">
					<img src="/waw/img/upwork.svg" alt="">
				</a>
			</div>
		</div>
		<div class="footer__data">
			2014 - {{{ nowYear || 2022 }}}
		</div>
	</div>
</div>
