<div id="particles-js">
	<canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas>
</div>
<div class="agency-list screen">
	{{{'/waw/components/topbar'|c|safe}}}
	<div class="container-a">
		<div class="agency__wrapper">
			{{{'/waw/components/sidebar'|c|safe}}}
			<div class="agency__main-wrap">
				<div class="agency__main">
					<div class="member__card">
						<div class="member__card-wrap">
							<div class="member__card-item">
								<div class="member__user">
									<div class="member__user-img">
										<img src="{{{user.avatarUrl}}}" alt="">
									</div>
									<div class="member__user-text">
										<div class="member__user-name">
											{{{user.name}}}
										</div>
										<div class="member__user-subtitle">
											{% if user.data.role %}- {% endif %}
											{{{user.data.role}}}
										</div>
									</div>
								</div>
								<div class="member__info-list">
									<div class="member__info-wrap">
										<div class="member__info-item">
											<a href="">
												<img src="/waw/img/icons/email.svg" alt="">
												<span>{{{user.email}}}</span>
											</a>
										</div>
									</div>
									<div class="member__info-wrap">
										<div class="member__info-item">
											<a href="">
												<img src="/waw/img/icons/location.svg" alt="">
												<span>{{{user.data.location}}}</span>
											</a>
										</div>
									</div>
									<div class="member__info-wrap">
										<div class="member__info-item">
											<a href="{{{user.data.upwork_link}}}">
												<img src="/waw/img/icons/up.svg" alt="">
												<span>{{{user.name}}}</span>
											</a>
										</div>
									</div>
									<div class="member__info-wrap">
										<div class="member__info-item">
											<a href="">
												<img src="/waw/img/icons/tel.svg" alt="">
												<span>{{{ user.data.phone }}}</span>
											</a>
										</div>
									</div>
									<div class="member__info-wrap">
										<div class="member__info-item">
											<a href="">
												<img src="/waw/img/icons/languages.svg" alt="">
												<span>
													{{{ user|languages }}}
												</span>
											</a>
										</div>
									</div>
									<div class="member__info-wrap">
										<div class="member__info-item">
											<a href="">
												<img src="/waw/img/icons/level.svg" alt="">
												<span>
													{{{ user|level }}}
												</span>
											</a>
										</div>
									</div>
								</div>
								<div class="member__skills-list">
									{% for skill in user.skills %}
									<div class="member__skills-wrap">
										<div class="member__skills-item">
											<span>{{{skill.name}}}</span>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="member__card-wrap">
							<div class="member__card-item">
								<div class="member__text">
									{{{user.data.description}}}
								</div>
							</div>
						</div>
					</div>
					{% if portfolios.length %}
					<div class="portfolio__list">
						{% for portfolio in portfolios %}
						<div class="portfolio__wrap">
							<div class="portfolio__text">
								<div class="portfolio__title">
									{{{portfolio.name}}}
								</div>
								<div class="member__skills-list">
									{% for skill in portfolio.skills %}
									<div class="member__skills-wrap member__skills-wrap--portfolio">
										<div class="member__skills-item">
											<span>{{{skill.name}}}</span>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="portfolio__description">
									{{{portfolio.description}}}
									{% if portfolio.urls %}
									<a href="{{{portfolio.urls}}}">Watch project</a>
									{% endif %}
								</div>
							</div>
							<div class="portfolio__img">
								<img src="{{{portfolio.images.length && portfolio.images[0] || 'waw/img/agency/portfolio.png'}}}" alt="">
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
